## Merge các bảng tạo dữ liệu để dự đoán cho cuộc đua mới

In [1]:
import pandas as pd
import numpy as np
from collections import Counter

- Get data path

In [3]:
import os.path as path
folder_path =  path.abspath(path.join('' ,"../../data/new_race_data"))
folder_path

'D:\\Funix_FPT\\DataScience\\Final_Project\\horse_race_project\\data\\new_race_data'

### 1. Load data

- RA table

In [7]:
RA_df = pd.read_pickle(folder_path+'\\RA.pickle.gz')
RA_df

,filename,line_no,head$RecordSpec,head$DataKubun,head$MakeDate$Year,head$MakeDate$Month,head$MakeDate$Day,id$Year,id$MonthDay,id$JyoCD,...,CornerInfo$2$Syukaisu,CornerInfo$2$Jyuni,CornerInfo$3$Corner,CornerInfo$3$Syukaisu,CornerInfo$3$Jyuni,CornerInfo$4$Corner,CornerInfo$4$Syukaisu,CornerInfo$4$Jyuni,RecordUpKubun,crlf
1,RADW2018121520181214112906.json,1,RA,2,2018,12,14,2018,1215,6,...,0,...,0,0,...,0,0,...,0,\r\n

In [3]:
# Convert id$JyoCD
RA_df['id$JyoCD'] = RA_df['id$JyoCD'].astype('int64')

- Tạo dữ liệu tháng

In [4]:
RA_df['Month'] = RA_df['id$MonthDay'].apply(lambda x: int(x/100))
RA_df[['Month', 'id$MonthDay']][RA_df['Month']==12]

   Month  id$MonthDay
1     12         1215

In [5]:
# Tổng hợp giải thưởng trước trận đấu
syokinAfter = [ 'Honsyokin$1',                
               'Honsyokin$2',               
            'Honsyokin$3',                
            'Honsyokin$4',
            'Honsyokin$5',
            'Fukasyokin$1',
            'Fukasyokin$2',
            'Fukasyokin$3'
         ]
syokinBefore = [ 'HonsyokinBefore$1',                
                 'HonsyokinBefore$2',               
                'HonsyokinBefore$3',                
                'HonsyokinBefore$4',
                'HonsyokinBefore$5',
                'FukasyokinBefore$1',
                'FukasyokinBefore$2',
                'FukasyokinBefore$3'
               ]

for after, before in zip(syokinAfter, syokinBefore):
    #print(after, before)
    RA_df.loc[RA_df[before]!=0, after] = RA_df[before]

# Tạo cột mới
RA_df['Honsyokin'] = RA_df['Honsyokin$1'] + RA_df['Honsyokin$2'] + RA_df['Honsyokin$3'] + RA_df['Honsyokin$4'] + RA_df['Honsyokin$5']
RA_df['Fukasyokin'] = RA_df['Fukasyokin$1'] + RA_df['Fukasyokin$2'] + RA_df['Fukasyokin$3']

In [6]:
RA_selected_columns =  ['id$Year',
                        'id$MonthDay',
                        'id$JyoCD',
                        'id$Kaiji',
                        'id$Nichiji',
                        'id$RaceNum',
                        'Month',
                        'RaceInfo$TokuNum',
                        'RaceInfo$Nkai',
                        'GradeCD',
                        'JyokenInfo$SyubetuCD',
                        'JyokenInfo$KigoCD',
                        'JyokenInfo$JyuryoCD',
                        'Kyori', 
                        'TrackCD',
                        'TenkoBaba$TenkoCD',
                        'TenkoBaba$SibaBabaCD',
                        'TenkoBaba$DirtBabaCD',
                        'Honsyokin',
                        'Fukasyokin',
                      ]
RA_df = RA_df[RA_selected_columns]
RA_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Month,RaceInfo$TokuNum,RaceInfo$Nkai,GradeCD,JyokenInfo$SyubetuCD,JyokenInfo$KigoCD,JyokenInfo$JyuryoCD,Kyori,TrackCD,TenkoBaba$TenkoCD,TenkoBaba$SibaBabaCD,TenkoBaba$DirtBabaCD,Honsyokin,Fukasyokin
1,2018,1215,6,5,5,1,12,0,0,,11,023,3,1200,24,0,0,0,95500,0

In [7]:
RA_df.dtypes

id$Year                  int64
id$MonthDay              int64
id$JyoCD                 int64
id$Kaiji                 int64
id$Nichiji               int64
id$RaceNum               int64
Month                    int64
RaceInfo$TokuNum         int64
RaceInfo$Nkai            int64
GradeCD                 object
JyokenInfo$SyubetuCD     int64
JyokenInfo$KigoCD       object
JyokenInfo$JyuryoCD      int64
Kyori                    int64
TrackCD                  int64
TenkoBaba$TenkoCD        int64
TenkoBaba$SibaBabaCD     int64
TenkoBaba$DirtBabaCD     int64
Honsyokin                int64
Fukasyokin               int64
dtype: object

- Tạo hàm xử lý bảng RA

In [9]:
def RA_process(folder_path):
    
    RA_path = folder_path + '\\RA.pickle.gz'
    RA_df = pd.read_pickle(RA_path)
    # Convert cột Key id$JyoCD
    RA_df['id$JyoCD'] = RA_df['id$JyoCD'].astype('int64')
 
   # Tạo cột Month
    RA_df['Month'] = RA_df['id$MonthDay'].apply(lambda x: int(x/100))
    RA_df[['Month', 'id$MonthDay']][RA_df['Month']==12]
    # Tổng hợp giải thưởng trước trận đấu
    syokinAfter = [ 'Honsyokin$1',                
                   'Honsyokin$2',               
                'Honsyokin$3',                
                'Honsyokin$4',
                'Honsyokin$5',
                'Fukasyokin$1',
                'Fukasyokin$2',
                'Fukasyokin$3'
             ]
    syokinBefore = [ 'HonsyokinBefore$1',                
                     'HonsyokinBefore$2',               
                    'HonsyokinBefore$3',                
                    'HonsyokinBefore$4',
                    'HonsyokinBefore$5',
                    'FukasyokinBefore$1',
                    'FukasyokinBefore$2',
                    'FukasyokinBefore$3'
                   ]

    for after, before in zip(syokinAfter, syokinBefore):
        #print(after, before)
        RA_df.loc[RA_df[before]!=0, after] = RA_df[before]
    # Tạo cột mới
    RA_df['Honsyokin'] = RA_df['Honsyokin$1'] + RA_df['Honsyokin$2'] + RA_df['Honsyokin$3'] + RA_df['Honsyokin$4'] + RA_df['Honsyokin$5']
    RA_df['Fukasyokin'] = RA_df['Fukasyokin$1'] + RA_df['Fukasyokin$2'] + RA_df['Fukasyokin$3']
    
    # Select columns
    selected_columns =  ['id$Year',
                        'id$MonthDay',
                        'id$JyoCD',
                        'id$Kaiji',
                        'id$Nichiji',
                        'id$RaceNum',
                        'Month',
                        'RaceInfo$TokuNum',
                        'RaceInfo$Nkai',
                        'GradeCD',
                        'JyokenInfo$SyubetuCD',
                        'JyokenInfo$KigoCD',
                        'JyokenInfo$JyuryoCD',
                        'Kyori', 
                        'TrackCD',
                        'TenkoBaba$TenkoCD',
                        'TenkoBaba$SibaBabaCD',
                        'TenkoBaba$DirtBabaCD',
                        'Honsyokin',
                        'Fukasyokin',
                      ]
    RA_df = RA_df[selected_columns]
    
    return RA_df

In [10]:
RA_df = RA_process(folder_path)
RA_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Month,RaceInfo$TokuNum,RaceInfo$Nkai,GradeCD,JyokenInfo$SyubetuCD,JyokenInfo$KigoCD,JyokenInfo$JyuryoCD,Kyori,TrackCD,TenkoBaba$TenkoCD,TenkoBaba$SibaBabaCD,TenkoBaba$DirtBabaCD,Honsyokin,Fukasyokin
1,2018,1215,6,5,5,1,12,0,0,,11,023,3,1200,24,0,0,0,95500,0

- SE table

In [11]:
SE_df = pd.read_pickle(folder_path+'\\SE.pickle.gz')
SE_df[['Umaban', 'KettoNum']]

    Umaban    KettoNum
15       1  2016104464
16       2  2016105215
17       3  2016105205
18       4  2016100976
19       5  2016103007
20       6  2016106271
21       7  2016105531
22       8  2016104169
23       9  2016101100
24      10  2016102918
25      11  2016104154
26      12  2016104100
27      13  2016100354
28      14  2016102793
29      15  2016103522
30      16  2016100216

In [11]:
# Select Columns
SE_selected_columns =  [
                        #Key
                        'id$Year',
                        'id$MonthDay',
                        'id$JyoCD',
                        'id$Kaiji',
                        'id$Nichiji',
                        'id$RaceNum',
                        #
                        'Umaban', 
                        'KettoNum',
                        'UmaKigoCD',
                        'SexCD',
                        'HinsyuCD',
                        'KeiroCD',
                        'Barei',
                        'TozaiCD',
                        'ChokyosiCode',
                        'BanusiCode',
                        'Futan',
                        'KisyuCode',
                        'MinaraiCD',
                        'BaTaijyu',
                        'ZogenFugo',
                        'ZogenSa',
                        'IJyoCD',
                        'KakuteiJyuni',
                        'Time',
                        'Odds',
                        'TimeDiff'
                       ]
SE_df = SE_df[SE_selected_columns]
SE_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,KisyuCode,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
15,2018,1215,6,5,5,1,1,2016104464,0,2,...,5568,0,,,,0,0,0,0,0
16,2018,1215,6,5,5,1,2,2016105215,0,2,...,1158,3,,,,0,0,0,0,0
17,2018,1215,6,5,5,1,3,2016105205,0,2,...,1096,0,,,,0,0,0,0,0
18,2018,1215,6,5,5,1,4,2016100976,0,2,...,1167,3,,,,0,0,0,0,0
19,2018,1215,6,5,5,1,5,2016103007,0,2,...,1029,0,,,,0,0,0,0,0
20,2018,1215,6,5,5,1,6,2016106271,0,2,...,1162,1,,,,0,0,0,0,0
21,2018,1215,6,5,5,1,7,2016105531,0,2,...,5386,0,,,,0,0,0,0,0
22,2018,1215,6,5,5,1,8,2016104169,0,2,...,1043,0,,,,0,0,0,0,0
23,2018,1215,6,5,5,1,9,2016101100,0,2,...,1004,0,,,,0,0,0,0,0
24,2018,1215,6,5,5,1,10,2016102918,0,2,...,1122,0,,,,0,0,0,0,0
25,2018,1215,6,5,5,1,11,2016104154,0,2,...,1109,0,,,,0,0,0,0,0
26,2018,1215,6,5,5,1,12,2016104100,0,2,...,1075,0,,,,0,0,0,0,0
27,2018,1215,6,5,5,1,13,2016100354,0,2,...,684,0,,,,0,0,0,0,0
28,2018,1215,6,5,5,1,14,2016102793,0,2,...,1169,1,,,,0,0,0,0,0
29,2018,1215,6,5,5,1,15,2016103522,0,2,...,1118,0,,,,0,0,0,0,0
30,2018,1215,6,5,5,1,16,2016100216,0,2,...,1025,0,,,,0,0,0,0,0

In [12]:
SE_df.dtypes

id$Year          int64
id$MonthDay      int64
id$JyoCD        object
id$Kaiji         int64
id$Nichiji       int64
id$RaceNum       int64
Umaban           int64
KettoNum         int64
UmaKigoCD        int64
SexCD            int64
HinsyuCD         int64
KeiroCD          int64
Barei            int64
TozaiCD          int64
ChokyosiCode     int64
BanusiCode       int64
Futan            int64
KisyuCode        int64
MinaraiCD        int64
BaTaijyu        object
ZogenFugo       object
ZogenSa         object
IJyoCD           int64
KakuteiJyuni     int64
Time             int64
Odds             int64
TimeDiff         int64
dtype: object

In [13]:
# Convert id$JyoCD
SE_df['id$JyoCD'] = SE_df['id$JyoCD'].astype('int64')

- Tạo hàm xử lý bảng SE

In [12]:
def SE_process(folder_path):
    
    SE_path = folder_path + '\\SE.pickle.gz'
    SE_df = pd.read_pickle(SE_path)
    # Convert cột Key id$JyoCD
    SE_df['id$JyoCD'] =SE_df['id$JyoCD'].astype('int64')
 
    selected_columns =  [
                            #Key
                            'id$Year',
                            'id$MonthDay',
                            'id$JyoCD',
                            'id$Kaiji',
                            'id$Nichiji',
                            'id$RaceNum',
                            #
                            'Umaban', 
                            'KettoNum',
                            'UmaKigoCD',
                            'SexCD',
                            'HinsyuCD',
                            'KeiroCD',
                            'Barei',
                            'TozaiCD',
                            'ChokyosiCode',
                            'BanusiCode',
                            'Futan',
                            'KisyuCode',
                            'MinaraiCD',
                            'BaTaijyu',
                            'ZogenFugo',
                            'ZogenSa',
                            'IJyoCD',
                            'KakuteiJyuni',
                            'Time',
                            'Odds',
                            'TimeDiff'
                           ]
    SE_df = SE_df[selected_columns]
    SE_df.reset_index(drop=True, inplace=True)
    return SE_df

In [13]:
SE_df = SE_process(folder_path)
SE_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,KisyuCode,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
0,2018,1215,6,5,5,1,1,2016104464,0,2,...,5568,0,,,,0,0,0,0,0
1,2018,1215,6,5,5,1,2,2016105215,0,2,...,1158,3,,,,0,0,0,0,0
2,2018,1215,6,5,5,1,3,2016105205,0,2,...,1096,0,,,,0,0,0,0,0
3,2018,1215,6,5,5,1,4,2016100976,0,2,...,1167,3,,,,0,0,0,0,0
4,2018,1215,6,5,5,1,5,2016103007,0,2,...,1029,0,,,,0,0,0,0,0
5,2018,1215,6,5,5,1,6,2016106271,0,2,...,1162,1,,,,0,0,0,0,0
6,2018,1215,6,5,5,1,7,2016105531,0,2,...,5386,0,,,,0,0,0,0,0
7,2018,1215,6,5,5,1,8,2016104169,0,2,...,1043,0,,,,0,0,0,0,0
8,2018,1215,6,5,5,1,9,2016101100,0,2,...,1004,0,,,,0,0,0,0,0
9,2018,1215,6,5,5,1,10,2016102918,0,2,...,1122,0,,,,0,0,0,0,0
10,2018,1215,6,5,5,1,11,2016104154,0,2,...,1109,0,,,,0,0,0,0,0
11,2018,1215,6,5,5,1,12,2016104100,0,2,...,1075,0,,,,0,0,0,0,0
12,2018,1215,6,5,5,1,13,2016100354,0,2,...,684,0,,,,0,0,0,0,0
13,2018,1215,6,5,5,1,14,2016102793,0,2,...,1169,1,,,,0,0,0,0,0
14,2018,1215,6,5,5,1,15,2016103522,0,2,...,1118,0,,,,0,0,0,0,0
15,2018,1215,6,5,5,1,16,2016100216,0,2,...,1025,0,,,,0,0,0,0,0

- UM table

In [14]:
UM_df = pd.read_pickle(folder_path+'\\UM.pickle.gz')
UM_df

,filename,line_no,head$RecordSpec,head$DataKubun,head$MakeDate$Year,head$MakeDate$Month,head$MakeDate$Day,KettoNum,DelKubun,RegDate$Year,...,ChakuKaisuKyori$6$Chakukaisu$3,ChakuKaisuKyori$6$Chakukaisu$4,ChakuKaisuKyori$6$Chakukaisu$5,ChakuKaisuKyori$6$Chakukaisu$6,Kyakusitu$1,Kyakusitu$2,Kyakusitu$3,Kyakusitu$4,RaceCount,crlf
0,UMPW2018121320181213184737.json,1,UM,4,2018,12,6,2007100107,0,2009,...,0,0,0,0,1,8,16,18,43,\r\n
1,UMPW2018121320181213184737.json,2,UM,4,2018,10,15,2009105512,0,2014,...,0,0,0,1,5,11,18,33,99,\r\n
2,UMPW2018121320181213184737.json,3,UM,4,2018,11,29,2010103284,0,2012,...,0,0,0,0,5,12,16,11,47,\r\n
3,UMPW2018121320181213184737.json,4,UM,4,2018,10,29,2011101045,0,2013,...,0,0,0,0,1,10,12,9,32,\r\n
4,UMPW2018121320181213184737.json,5,UM,4,2018,12,3,2011101089,0,2013,...,1,2,2,3,1,12,14,11,40,\r\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,UMTW2018121020181210133123.json,373,UM,4,2018,11,29,2016106371,0,2018,...,0,0,0,0,2,0,0,1,3,\r\n
1457,UMTW2018121020181210133123.json,374,UM,4,2018,11,26,2016106453,0,2018,...,0,0,0,0,0,1,1,0,2,\r\n
1458,UMTW2018121020181210133123.json,375,UM,4,2018,11,26,2016106486,0,2018,...,0,0,0,0,1,0,0,0,1,\r\n
1459,UMTW2018121020181210133123.json,376,UM,4,2018,11,26,2016110079,0,2018,...,0,0,0,0,0,1,1,1,3,\r\n
1460,UMTW2018121020181210133123.json,377,UM,4,2018,12,10,2016110113,0,2018,...,0,0,0,0,0,0,2,0,2,\r\n

In [17]:
# Select Columns
UM_selected_columns =  [
                        'KettoNum',
                        'Bamei',
                        'ZaikyuFlag',
                        'SexCD',
                        'HinsyuCD',
                        'KeiroCD',
                        'Ketto3Info$1$HansyokuNum',
                        'Ketto3Info$1$Bamei',
                        'TozaiCD',
                        'ChokyosiCode',
                        'BreederCode',  #
                        'BanusiCode',
                        'RuikeiHonsyoHeiti',
                        'RuikeiHonsyoSyogai',
                        'RuikeiFukaHeichi',
                        'RuikeiFukaSyogai',
                        'RuikeiSyutokuHeichi',
                        'RuikeiSyutokuSyogai',
                        ]
UM_df = UM_df[UM_selected_columns]
UM_df

,KettoNum,Bamei,ZaikyuFlag,SexCD,HinsyuCD,KeiroCD,Ketto3Info$1$HansyokuNum,Ketto3Info$1$Bamei,TozaiCD,ChokyosiCode,BreederCode,BanusiCode,RuikeiHonsyoHeiti,RuikeiHonsyoSyogai,RuikeiFukaHeichi,RuikeiFukaSyogai,RuikeiSyutokuHeichi,RuikeiSyutokuSyogai
0,2007100107,マックスドリーム,1,3,1,5,11202057,アドマイヤマックス,2,1018,233071,518002,1229500,106000,14370,0,225000,40000
1,2009105512,キングクリチャン,1,1,1,1,11202066,ボーンキング,1,1014,713376,970006,347000,0,5480,0,113000,0
2,2010103284,ユキノマルガリータ,1,2,1,3,11202081,スズカマンボ,1,1152,33305,623005,89500,20000,0,0,20000,0
3,2011101045,スズカヴァンガード,1,3,1,1,11202160,スズカフェニックス,1,1068,365,382004,528000,0,5810,0,75000,0
4,2011101089,オペラハット,1,1,1,3,11202153,メイショウサムソン,2,427,430362,127008,366000,0,360,0,95000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2016106371,ライデンシャフト,1,2,1,4,11202289,ノヴェリスト,1,1150,801307,547800,50000,0,0,0,40000,0
1457,2016106453,ナランフレグ,1,1,1,1,11201954,ゴールドアリュール,1,420,313359,770006,70000,0,0,0,40000,0
1458,2016106486,メディクス,1,1,1,1,11201954,ゴールドアリュール,2,1155,300033,45803,70000,0,0,0,40000,0
1459,2016110079,アスターペガサス,1,1,1,1,11404523,Giant's Causeway,2,1039,800703,935003,418000,0,5670,0,195000,0
1460,2016110113,タニノミッション,1,2,1,3,11405349,Invincible Spirit,2,1039,540705,764001,70000,0,0,0,40000,0

In [18]:
# Đổi tên các cột TozaiCD thành UM_TozaiCD
for column in UM_selected_columns:
    if column != 'KettoNum':
        new_column = 'UM_' + column
        UM_df.rename(columns={column: new_column}, inplace=True)
UM_df

C:\ProgramData\Anaconda3\envs\my_d2l\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,KettoNum,UM_Bamei,UM_ZaikyuFlag,UM_SexCD,UM_HinsyuCD,UM_KeiroCD,UM_Ketto3Info$1$HansyokuNum,UM_Ketto3Info$1$Bamei,UM_TozaiCD,UM_ChokyosiCode,UM_BreederCode,UM_BanusiCode,UM_RuikeiHonsyoHeiti,UM_RuikeiHonsyoSyogai,UM_RuikeiFukaHeichi,UM_RuikeiFukaSyogai,UM_RuikeiSyutokuHeichi,UM_RuikeiSyutokuSyogai
0,2007100107,マックスドリーム,1,3,1,5,11202057,アドマイヤマックス,2,1018,233071,518002,1229500,106000,14370,0,225000,40000
1,2009105512,キングクリチャン,1,1,1,1,11202066,ボーンキング,1,1014,713376,970006,347000,0,5480,0,113000,0
2,2010103284,ユキノマルガリータ,1,2,1,3,11202081,スズカマンボ,1,1152,33305,623005,89500,20000,0,0,20000,0
3,2011101045,スズカヴァンガード,1,3,1,1,11202160,スズカフェニックス,1,1068,365,382004,528000,0,5810,0,75000,0
4,2011101089,オペラハット,1,1,1,3,11202153,メイショウサムソン,2,427,430362,127008,366000,0,360,0,95000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2016106371,ライデンシャフト,1,2,1,4,11202289,ノヴェリスト,1,1150,801307,547800,50000,0,0,0,40000,0
1457,2016106453,ナランフレグ,1,1,1,1,11201954,ゴールドアリュール,1,420,313359,770006,70000,0,0,0,40000,0
1458,2016106486,メディクス,1,1,1,1,11201954,ゴールドアリュール,2,1155,300033,45803,70000,0,0,0,40000,0
1459,2016110079,アスターペガサス,1,1,1,1,11404523,Giant's Causeway,2,1039,800703,935003,418000,0,5670,0,195000,0
1460,2016110113,タニノミッション,1,2,1,3,11405349,Invincible Spirit,2,1039,540705,764001,70000,0,0,0,40000,0

- Tạo hàm xử lý bảng UM

In [15]:
def UM_process(folder_path):
    
    UM_path = folder_path + '\\UM.pickle.gz'
    UM_df = pd.read_pickle(UM_path)
    
    # Select Columns
    selected_columns =  [
                            'KettoNum',
                            'Bamei',
                            'ZaikyuFlag',
                            'SexCD',
                            'HinsyuCD',
                            'KeiroCD',
                            'Ketto3Info$1$HansyokuNum',
                            'Ketto3Info$1$Bamei',
                            'TozaiCD',
                            'ChokyosiCode',
                            'BreederCode',  #
                            'BanusiCode',
                            'RuikeiHonsyoHeiti',
                            'RuikeiHonsyoSyogai',
                            'RuikeiFukaHeichi',
                            'RuikeiFukaSyogai',
                            'RuikeiSyutokuHeichi',
                            'RuikeiSyutokuSyogai',
                            ]
    UM_df = UM_df[selected_columns]
    # Đổi tên các cột TozaiCD thành UM_TozaiCD
    for column in selected_columns:
        if column != 'KettoNum':
            new_column = 'UM_' + column
            UM_df.rename(columns={column: new_column}, inplace=True)
            
    UM_df.reset_index(drop=True, inplace=True)
    
    return UM_df

In [16]:
UM_df = UM_process(folder_path)
UM_df

,KettoNum,UM_Bamei,UM_ZaikyuFlag,UM_SexCD,UM_HinsyuCD,UM_KeiroCD,UM_Ketto3Info$1$HansyokuNum,UM_Ketto3Info$1$Bamei,UM_TozaiCD,UM_ChokyosiCode,UM_BreederCode,UM_BanusiCode,UM_RuikeiHonsyoHeiti,UM_RuikeiHonsyoSyogai,UM_RuikeiFukaHeichi,UM_RuikeiFukaSyogai,UM_RuikeiSyutokuHeichi,UM_RuikeiSyutokuSyogai
0,2007100107,マックスドリーム,1,3,1,5,11202057,アドマイヤマックス,2,1018,233071,518002,1229500,106000,14370,0,225000,40000
1,2009105512,キングクリチャン,1,1,1,1,11202066,ボーンキング,1,1014,713376,970006,347000,0,5480,0,113000,0
2,2010103284,ユキノマルガリータ,1,2,1,3,11202081,スズカマンボ,1,1152,33305,623005,89500,20000,0,0,20000,0
3,2011101045,スズカヴァンガード,1,3,1,1,11202160,スズカフェニックス,1,1068,365,382004,528000,0,5810,0,75000,0
4,2011101089,オペラハット,1,1,1,3,11202153,メイショウサムソン,2,427,430362,127008,366000,0,360,0,95000,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1456,2016106371,ライデンシャフト,1,2,1,4,11202289,ノヴェリスト,1,1150,801307,547800,50000,0,0,0,40000,0
1457,2016106453,ナランフレグ,1,1,1,1,11201954,ゴールドアリュール,1,420,313359,770006,70000,0,0,0,40000,0
1458,2016106486,メディクス,1,1,1,1,11201954,ゴールドアリュール,2,1155,300033,45803,70000,0,0,0,40000,0
1459,2016110079,アスターペガサス,1,1,1,1,11404523,Giant's Causeway,2,1039,800703,935003,418000,0,5670,0,195000,0
1460,2016110113,タニノミッション,1,2,1,3,11405349,Invincible Spirit,2,1039,540705,764001,70000,0,0,0,40000,0

- KS table

In [17]:
KS_df = pd.read_pickle(folder_path+'\\KS.pickle.gz')
KS_df

,filename,line_no,head$RecordSpec,head$DataKubun,head$MakeDate$Year,head$MakeDate$Month,head$MakeDate$Day,KisyuCode,DelKubun,IssueDate$Year,...,HonZenRuikei$3$ChakuKaisuKyori$5$Chakukaisu$4,HonZenRuikei$3$ChakuKaisuKyori$5$Chakukaisu$5,HonZenRuikei$3$ChakuKaisuKyori$5$Chakukaisu$6,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$1,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$2,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$3,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$4,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$5,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$6,crlf
0,KSPW2018121320181213184734.json,1,KS,2,2018,12,10,422,0,2008,...,167,154,952,7,7,4,5,3,34,\r\n
1,KSPW2018121320181213184734.json,2,KS,2,2018,12,10,641,0,1985,...,310,250,1706,4,2,12,7,4,42,\r\n
2,KSPW2018121320181213184734.json,3,KS,2,2018,12,10,652,0,1986,...,225,213,1990,1,2,1,2,2,14,\r\n
3,KSPW2018121320181213184734.json,4,KS,2,2018,9,24,655,0,1986,...,29,39,274,0,0,0,0,0,0,\r\n
4,KSPW2018121320181213184734.json,5,KS,2,2018,12,10,660,0,1986,...,329,325,1564,11,16,9,10,4,35,\r\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
133,KSPW2018121320181213184734.json,134,KS,2,2018,12,10,5429,0,2013,...,20,16,234,0,0,0,1,1,0,\r\n
134,KSPW2018121320181213184734.json,135,KS,2,2018,12,10,5473,0,2018,...,10,20,81,2,2,1,1,1,1,\r\n
135,KSPW2018121320181213184734.json,136,KS,2,2018,12,13,5495,0,2018,...,2,2,23,0,0,1,0,0,0,\r\n
136,KSPW2018121320181213184734.json,137,KS,2,2018,12,10,5568,0,2018,...,1,2,14,0,0,0,0,0,0,\r\n
137,KSPW2018121320181213184734.json,138,KS,1,2018,12,13,5575,0,2018,...,0,0,0,0,0,0,0,0,0,\r\n

In [22]:
# Select Columns
KS_select_columns =  [
                        'KisyuCode',
                        'SexCD',
                        'SikakuCD',
                        'MinaraiCD',
                        'TozaiCD',
                        'Syotai',
                        'ChokyosiCode',
                        #'SaikinJyusyo$1$GradeCD',
                        #'SaikinJyusyo$2$GradeCD',
                        #'SaikinJyusyo$3$GradeCD',
                        
                     ]
KS_df = KS_df[KS_select_columns]
KS_df

     KisyuCode  SexCD  SikakuCD  MinaraiCD  TozaiCD      Syotai  ChokyosiCode
0          422      1         2          0        1  　　　　　　　　　　             0
1          641      1         2          0        1  　　　　　　　　　　             0
2          652      1         1          0        2  　　　　　　　　　　             0
3          655      1         3          0        2  　　　　　　　　　　          1107
4          660      1         2          0        1  　　　　　　　　　　             0
..         ...    ...       ...        ...      ...         ...           ...
133       5429      1         2          0        2  　　　　　　　　　　             0
134       5473      1         2          0        4  フランス　　　　　　             0
135       5495      1         2          0        4  イギリス　　　　　　             0
136       5568      1         2          0        4  オーストラリア　　　             0
137       5575      1         2          0        4  イギリス　　　　　　             0

[138 rows x 7 columns]

In [23]:
# Đổi tên các cột TozaiCD thành UM_TozaiCD
for column in KS_select_columns:
    if column != 'KisyuCode':
        new_column = 'KS_' + column
        KS_df.rename(columns={column: new_column}, inplace=True)
KS_df

C:\ProgramData\Anaconda3\envs\my_d2l\lib\site-packages\pandas\core\frame.py:4296: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

,KisyuCode,KS_SexCD,KS_SikakuCD,KS_MinaraiCD,KS_TozaiCD,KS_Syotai,KS_ChokyosiCode
0,422,1,2,0,1,,0
1,641,1,2,0,1,,0
2,652,1,1,0,2,,0
3,655,1,3,0,2,,1107
4,660,1,2,0,1,,0
...,...,...,...,...,...,...,...
133,5429,1,2,0,2,,0
134,5473,1,2,0,4,フランス,0
135,5495,1,2,0,4,イギリス,0
136,5568,1,2,0,4,オーストラリア,0
137,5575,1,2,0,4,イギリス,0

- Tạo hàm xử lý bảng KS

In [20]:
def KS_process(folder_path):
    
    KS_path = folder_path + '\\KS.pickle.gz'
    KS_df = pd.read_pickle(KS_path)
    
    # Select Columns
    select_columns =  [
                        'KisyuCode',
                        'SexCD',
                        'SikakuCD',
                        'MinaraiCD',
                        'TozaiCD',
                        'Syotai',
                        'ChokyosiCode',
                        #'SaikinJyusyo$1$GradeCD',
                        #'SaikinJyusyo$2$GradeCD',
                        #'SaikinJyusyo$3$GradeCD',
                     ]
    KS_df = KS_df[select_columns]
    # Đổi tên các cột TozaiCD thành KS_TozaiCD
    for column in select_columns:
        if column != 'KisyuCode':
            new_column = 'KS_' + column
            KS_df.rename(columns={column: new_column}, inplace=True)
    
            
    KS_df.reset_index(drop=True, inplace=True)
    
    return KS_df

In [21]:
KS_df = KS_process(folder_path)
KS_df

,KisyuCode,KS_SexCD,KS_SikakuCD,KS_MinaraiCD,KS_TozaiCD,KS_Syotai,KS_ChokyosiCode
0,422,1,2,0,1,,0
1,641,1,2,0,1,,0
2,652,1,1,0,2,,0
3,655,1,3,0,2,,1107
4,660,1,2,0,1,,0
...,...,...,...,...,...,...,...
133,5429,1,2,0,2,,0
134,5473,1,2,0,4,フランス,0
135,5495,1,2,0,4,イギリス,0
136,5568,1,2,0,4,オーストラリア,0
137,5575,1,2,0,4,イギリス,0

- CH table

In [22]:
CH_df = pd.read_pickle(folder_path+'\\CH.pickle.gz')
CH_df

,filename,line_no,head$RecordSpec,head$DataKubun,head$MakeDate$Year,head$MakeDate$Month,head$MakeDate$Day,ChokyosiCode,DelKubun,IssueDate$Year,...,HonZenRuikei$3$ChakuKaisuKyori$5$Chakukaisu$4,HonZenRuikei$3$ChakuKaisuKyori$5$Chakukaisu$5,HonZenRuikei$3$ChakuKaisuKyori$5$Chakukaisu$6,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$1,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$2,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$3,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$4,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$5,HonZenRuikei$3$ChakuKaisuKyori$6$Chakukaisu$6,crlf
0,CHPW2018121320181213184732.json,1,CH,2,2018,12,10,261,0,1977,...,123,146,906,3,4,2,3,3,18,\r\n
1,CHPW2018121320181213184732.json,2,CH,2,2018,12,10,341,0,1980,...,52,60,517,1,1,0,1,0,11,\r\n
2,CHPW2018121320181213184732.json,3,CH,2,2018,12,10,356,0,1983,...,83,80,776,0,0,0,0,1,6,\r\n
3,CHPW2018121320181213184732.json,4,CH,2,2018,12,10,359,0,1983,...,83,98,710,0,1,2,2,2,35,\r\n
4,CHPW2018121320181213184732.json,5,CH,2,2018,12,10,362,0,1983,...,82,90,609,1,2,2,2,2,13,\r\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
345,CHTW2018121020181210133102.json,154,CH,2,2018,12,10,1160,0,2017,...,2,4,15,0,0,0,0,0,0,\r\n
346,CHTW2018121020181210133102.json,155,CH,2,2018,12,10,1161,0,2017,...,2,3,22,0,0,0,0,0,0,\r\n
347,CHTW2018121020181210133102.json,156,CH,2,2018,12,10,1164,0,2017,...,3,1,25,0,0,0,0,0,0,\r\n
348,CHTW2018121020181210133102.json,157,CH,2,2018,12,10,1165,0,2017,...,0,3,17,0,0,0,0,0,1,\r\n
349,CHTW2018121020181210133102.json,158,CH,2,2018,12,6,5630,0,2018,...,0,0,2,0,0,0,0,0,0,\r\n

In [ ]:
CH_df.drop_duplicates(subset=['ChokyosiCode'], keep='first', inplace=True)
CH_df

In [ ]:
# Select Columns
CH_select_columns =  [
                        'ChokyosiCode',
                        'SexCD',
                        'TozaiCD',
                        'Syotai',
                        #'SaikinJyusyo$1$GradeCD',
                        #'SaikinJyusyo$2$GradeCD',
                        #'SaikinJyusyo$3$GradeCD',
                     ]
CH_df = CH_df[CH_select_columns]
CH_df

- Đổi tên các cột trừ key

In [ ]:
for column in CH_select_columns:
    if column != 'ChokyosiCode':
        new_column = 'CH_' + column
        CH_df.rename(columns={column: new_column}, inplace=True)
CH_df

- Tạo hàm xử lý bảng CH

In [23]:
def CH_process(folder_path):
    
    CH_path = folder_path + '\\CH.pickle.gz'
    CH_df = pd.read_pickle(CH_path)
    CH_df.drop_duplicates(subset=['ChokyosiCode'], keep='first', inplace=True)
    
    select_columns =  [
                            'ChokyosiCode',
                            'SexCD',
                            'TozaiCD',
                            'Syotai',
                            #'SaikinJyusyo$1$GradeCD',
                            #'SaikinJyusyo$2$GradeCD',
                            #'SaikinJyusyo$3$GradeCD',
                         ]
    CH_df = CH_df[select_columns]
    # Đổi tên các cột TozaiCD thành CH_TozaiCD
    for column in select_columns:
        if column != 'ChokyosiCode':
            new_column = 'CH_' + column
            CH_df.rename(columns={column: new_column}, inplace=True)
               
    CH_df.reset_index(drop=True, inplace=True)
    
    return CH_df

In [24]:
CH_df = CH_process(folder_path)
CH_df

     ChokyosiCode  CH_SexCD  CH_TozaiCD   CH_Syotai
0             261         1           2
1             341         1           1
2             356         1           2
3             359         1           1
4             362         1           2
..            ...       ...         ...         ...
188          1167         1           1
189          1168         1           2
190          1169         1           1
191          1170         1           2
192          5630         1           3  北海道

[193 rows x 4 columns]

- HN table

In [26]:
HN_df = pd.read_pickle(folder_path+'\\HN.pickle.gz')
HN_df

,filename,line_no,head$RecordSpec,head$DataKubun,head$MakeDate$Year,head$MakeDate$Month,head$MakeDate$Day,HansyokuNum,reserved,KettoNum,...,BirthYear,SexCD,HinsyuCD,KeiroCD,HansyokuMochiKubun,ImportYear,SanchiName,HansyokuFNum,HansyokuMNum,crlf
0,HNVM2015029920171102160856.json,1,HN,1,2015,2,5,11202321,0,2005106738,...,2005,1,1,4,0,0,鵡川町,11201901,12248241,\r\n
1,HNVM2015029920171102160856.json,2,HN,1,2015,2,5,11202322,0,2005101116,...,2005,1,1,1,0,0,えりも町,11201961,12237274,\r\n
2,HNVM2015029920171102160856.json,3,HN,1,2015,2,5,11202323,0,2008100484,...,2008,1,1,3,0,0,新ひだか町,11202004,12250625,\r\n
3,HNVM2015029920171102160856.json,4,HN,1,2015,2,5,11202324,0,2011102417,...,2011,1,1,3,0,0,新ひだか町,11201916,12251199,\r\n
4,HNVM2015029920171102160856.json,5,HN,1,2015,2,5,11202325,0,2006105511,...,2006,1,1,3,0,0,日高町,11201700,12247628,\r\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
144161,HNVM2010059920171102154811.json,116,HN,1,2010,5,27,12426422,0,0,...,2002,2,1,0,9,0,,11404506,12424153,\r\n
144162,HNVM2010059920171102154811.json,117,HN,1,2010,5,27,12426423,0,0,...,1981,2,1,0,9,0,,11301421,12414906,\r\n
144163,HNVM2010059920171102154811.json,118,HN,1,2010,5,27,12426424,0,0,...,1994,2,1,0,9,0,,11402182,12426423,\r\n
144164,HNVM2010059920171102154811.json,119,HN,1,2010,5,27,12426425,0,0,...,1989,2,1,0,9,0,,11401155,12415168,\r\n
144165,HNVM2010059920171102154811.json,120,HN,1,2010,5,27,12426426,0,0,...,1996,2,1,0,9,0,,11301358,12426425,\r\n

In [ ]:
HN_df.drop_duplicates(subset=['HansyokuNum'], keep='first', inplace=True)
HN_df

In [ ]:
# Select Columns
HN_selected_columns =  [
                        'HansyokuNum',
                        #'KettoNum',
                        'Bamei',
                        'SexCD',
                        'HinsyuCD',
                        'KeiroCD',
                        'HansyokuMochiKubun',
                        'HansyokuFNum',
                        'HansyokuMNum',
                        ]
HN_df = HN_df[HN_selected_columns]
HN_df

In [ ]:
# Đổi tên các cột 
for column in HN_selected_columns:
    if column != 'HansyokuNum':
        new_column = 'HN_' + column
        HN_df.rename(columns={column: new_column}, inplace=True)
HN_df

- Tạo hàm xử lý bảng HN

In [27]:
def HN_process(folder_path):
    
    HN_path = folder_path + '\\HN.pickle.gz'
    HN_df = pd.read_pickle(HN_path)
    HN_df.drop_duplicates(subset=['HansyokuNum'], keep='first', inplace=True)
    
    selected_columns =  [
                            'HansyokuNum',
                            #'KettoNum',
                            'Bamei',
                            'SexCD',
                            'HinsyuCD',
                            'KeiroCD',
                            'HansyokuMochiKubun',
                            'HansyokuFNum',
                            'HansyokuMNum',
                            ]
    HN_df = HN_df[selected_columns]
    # Đổi tên các cột 
    for column in selected_columns:
        if column != 'HansyokuNum':
            new_column = 'HN_' + column
            HN_df.rename(columns={column: new_column}, inplace=True)
               
    HN_df.reset_index(drop=True, inplace=True)
    
    return HN_df

In [28]:
HN_df = HN_process(folder_path)
HN_df

,HansyokuNum,HN_Bamei,HN_SexCD,HN_HinsyuCD,HN_KeiroCD,HN_HansyokuMochiKubun,HN_HansyokuFNum,HN_HansyokuMNum
0,11202321,スマイルジャック,1,1,4,0,11201901,12248241
1,11202322,セレスハント,1,1,1,0,11201961,12237274
2,11202323,デスペラード,1,1,3,0,11202004,12250625
3,11202324,ファーガソン,1,1,3,0,11201916,12251199
4,11202325,レッドスパーダ,1,1,3,0,11201700,12247628
...,...,...,...,...,...,...,...,...
144100,12426422,Saffa Garden,2,1,0,9,11404506,12424153
144101,12426423,Allegedly Blue,2,1,0,9,11301421,12414906
144102,12426424,Royal Beluga,2,1,0,9,11402182,12426423
144103,12426425,Ziggy's Act,2,1,0,9,11401155,12415168
144104,12426426,Cosmic Wing,2,1,0,9,11301358,12426425

### 2. Merge UM và HN với key = HansyokuNum và Ketto3Info$1$HansyokuNum

In [ ]:
UM_df['HansyokuNum'] = UM_df['UM_Ketto3Info$1$HansyokuNum']

In [ ]:
# Merge 2 table
UM_HN_df = pd.merge(UM_df, HN_df, on=['HansyokuNum'], how='left')
UM_HN_df

### 3. Merge SE và UM_HN với key = KettoNum

In [ ]:
# Merge 2 table
UM_HN_SE_df = pd.merge(SE_df, UM_HN_df, on=['KettoNum'], how='left')
UM_HN_SE_df

### 3. Merge UM_HN_SE và KS với key = KisyuCode

In [ ]:
# Merge 2 table
UM_HN_SE_KS_df = pd.merge(UM_HN_SE_df, KS_df, on=['KisyuCode'], how='left')
UM_HN_SE_KS_df

### 4. Merge UM_HN_SE_KS và CH với key = ChokyosiCode

In [ ]:
# Merge 2 table
UM_HN_SE_KS_CH_df = pd.merge(UM_HN_SE_KS_df, CH_df, on=['ChokyosiCode'], how='left')
UM_HN_SE_KS_CH_df

In [ ]:
UM_HN_SE_KS_CH_df.info()

### 5. Merge UM_HN_SE_KS_CH và RA với key = ['id$Year', 'id$MonthDay', 'id$JyoCD', 'id$Kaiji', 'id$Nichiji', 'id$RaceNum']

In [ ]:
# Merge 2 table
UM_HN_SE_KS_CH_RA_df = pd.merge(RA_df, UM_HN_SE_KS_CH_df, on=['id$Year', 'id$MonthDay', 'id$JyoCD', 'id$Kaiji', 'id$Nichiji', 'id$RaceNum'],
                                how='left')
UM_HN_SE_KS_CH_RA_df

In [ ]:
UM_HN_SE_KS_CH_RA_df.info()

### 6. Cập nhập thông tin về cân nặng và thời tiết trước trận đấu

In [29]:
WE_df = pd.read_pickle(folder_path+'\WE.pickle.gz')
WE_df = WE_df.loc[WE_df['id$JyoCD']==RA_df['id$JyoCD'].values[0], :]
WE_df

,filename,line_no,head$RecordSpec,head$DataKubun,head$MakeDate$Year,head$MakeDate$Month,head$MakeDate$Day,id$Year,id$MonthDay,id$JyoCD,...,HappyoTime$Hour,HappyoTime$Minute,HenkoID,TenkoBaba$TenkoCD,TenkoBaba$SibaBabaCD,TenkoBaba$DirtBabaCD,TenkoBabaBefore$TenkoCD,TenkoBabaBefore$SibaBabaCD,TenkoBabaBefore$DirtBabaCD,crlf
0,WE20181215.json,1,WE,1,2018,12,14,2018,1215,6,...,0,0,1,1,1,2,0,0,0,\r\n

In [ ]:
UM_HN_SE_KS_CH_RA_df['TenkoBaba$TenkoCD'] = WE_df['TenkoBaba$TenkoCD'].values[0]
UM_HN_SE_KS_CH_RA_df['TenkoBaba$SibaBabaCD'] = WE_df['TenkoBaba$SibaBabaCD'].values[0]
UM_HN_SE_KS_CH_RA_df['TenkoBaba$DirtBabaCD'] = WE_df['TenkoBaba$DirtBabaCD'].values[0]
UM_HN_SE_KS_CH_RA_df['TenkoBaba$TenkoCD']

In [30]:
WH_df = pd.read_pickle(folder_path+'\\WH.pickle.gz')
WH_df

,filename,line_no,head$RecordSpec,head$DataKubun,head$MakeDate$Year,head$MakeDate$Month,head$MakeDate$Day,id$Year,id$MonthDay,id$JyoCD,...,BataijyuInfo$17$Bamei,BataijyuInfo$17$BaTaijyu,BataijyuInfo$17$ZogenFugo,BataijyuInfo$17$ZogenSa,BataijyuInfo$18$Umaban,BataijyuInfo$18$Bamei,BataijyuInfo$18$BaTaijyu,BataijyuInfo$18$ZogenFugo,BataijyuInfo$18$ZogenSa,crlf
0,WH20181215.json,1,WH,1,2018,12,15,2018,1215,6,...,,,,,0,,,,,\r\n

In [ ]:
BaTaijyu_list = []
ZogenFugo_list = []
ZogenSa_list= []
for i in range(1, len(SE_df)+1):
    BaTaijyu_col = 'BataijyuInfo$' + str(i) + '$BaTaijyu'
    BaTaijyu_list.append(WH_df[BaTaijyu_col].values[0])
    ZogenFugo_col = 'BataijyuInfo$' + str(i) + '$ZogenFugo'
    ZogenFugo_list.append(WH_df[ZogenFugo_col].values[0])
    ZogenSa_col = 'BataijyuInfo$' + str(i) + '$ZogenSa'
    ZogenSa_list.append(WH_df[ZogenSa_col].values[0])
    
ZogenFugo_list

In [ ]:
UM_HN_SE_KS_CH_RA_df['BaTaijyu'] = BaTaijyu_list
UM_HN_SE_KS_CH_RA_df['ZogenFugo'] = ZogenFugo_list
UM_HN_SE_KS_CH_RA_df['ZogenSa'] = ZogenSa_list
UM_HN_SE_KS_CH_RA_df

In [ ]:
UM_HN_SE_KS_CH_RA_df[['BaTaijyu', 'ZogenFugo', 'ZogenSa']]

- Convert ZogenSa thành float dựa trên thông tin từ ZogenFugo

In [ ]:
# Kiểm tra ZogenSa'=='   '
UM_HN_SE_KS_CH_RA_df.loc[UM_HN_SE_KS_CH_RA_df['ZogenSa']=='   ', 'ZogenSa'] = 0
UM_HN_SE_KS_CH_RA_df['ZogenSa'] = UM_HN_SE_KS_CH_RA_df['ZogenSa'].astype('float64')
UM_HN_SE_KS_CH_RA_df.loc[UM_HN_SE_KS_CH_RA_df['ZogenFugo']=='-', 'ZogenSa'] = -1 * UM_HN_SE_KS_CH_RA_df['ZogenSa']
UM_HN_SE_KS_CH_RA_df['ZogenSa']

In [ ]:
# Remove trường hợp BaTaijyu = 0 vì bị cancel start
UM_HN_SE_KS_CH_RA_df = UM_HN_SE_KS_CH_RA_df[UM_HN_SE_KS_CH_RA_df['BaTaijyu']!=0]
UM_HN_SE_KS_CH_RA_df.reset_index(drop=True, inplace=True)
UM_HN_SE_KS_CH_RA_df

In [ ]:
# Drop ZogenFugo
UM_HN_SE_KS_CH_RA_df.drop('ZogenFugo', axis=1, inplace=True)
UM_HN_SE_KS_CH_RA_df

- Create X_test

In [ ]:
id_col = ['KettoNum']
cat_col = [
            'Month',
            'id$JyoCD', # Mã trường đua
            'GradeCD',
            'JyokenInfo$SyubetuCD', # Cuộc đua dành cho ngựa bao nhiêu tuổi
            'JyokenInfo$KigoCD',
            'JyokenInfo$JyuryoCD', # Cách tính trọng lượng
            'TrackCD',
            'TenkoBaba$TenkoCD',
            'TenkoBaba$SibaBabaCD',
            'TenkoBaba$DirtBabaCD',
            'Umaban',
            'UmaKigoCD',
            'SexCD',
            'HinsyuCD',
            'KeiroCD',
            'TozaiCD',
            'MinaraiCD',
            'HN_HansyokuMochiKubun',
            # Xét sau
            'KS_SexCD',
            'KS_SikakuCD',
            'KS_TozaiCD',
            'KS_Syotai',
            'KS_ChokyosiCode',
            'CH_SexCD',
            'CH_TozaiCD',
            'CH_Syotai',
            ]

num_col = [
            'id$Kaiji',
            'id$Nichiji',
            'id$RaceNum',
            #
            #'id',
            'Kyori',
            'Honsyokin',
            'Fukasyokin',
            'Barei',
            'Futan',
            'BaTaijyu',
            'ZogenSa',
           ]

In [ ]:
columns = cat_col + num_col
test_data = UM_HN_SE_KS_CH_RA_df[columns]
test_data

In [ ]:
test_data.info()

- Transform X_test

In [ ]:
import joblib 
enc = joblib.load('enc.bin')
scaler = joblib.load('scaler.bin')
scaler

In [ ]:
cat_feature_names = enc.get_feature_names(cat_col)
cat_feature_names

X_test_cat = test_data[cat_col]
X_test_cat = enc.transform(X_test_cat).toarray()
X_test_cat

X_test_cat = pd.DataFrame(X_test_cat, columns=cat_feature_names)
X_test_cat

X_test_num = test_data[num_col]
X_scale = scaler.transform(X_test_num)
X_test_num = pd.DataFrame(X_scale, columns=num_col)
X_test_num

X_test = pd.concat([X_test_cat, X_test_num], axis=1, sort=False)
X_test

- Tạo hàm process  test data

In [31]:

def create_new_race_data(folder_path):
    # Load tables
    RA_df = RA_process(folder_path)
    SE_df = SE_process(folder_path)
    UM_df = UM_process(folder_path)
    KS_df = KS_process(folder_path)
    CH_df = CH_process(folder_path)
    HN_df = HN_process(folder_path)
        
    # Merge tables
    UM_df['HansyokuNum'] = UM_df['UM_Ketto3Info$1$HansyokuNum']
    # Merge 2 table UM, HN
    UM_HN_df = pd.merge(UM_df, HN_df, on=['HansyokuNum'], how='left')
    # 
    UM_HN_SE_df = pd.merge(SE_df, UM_HN_df, on=['KettoNum'], how='left')
    #
    UM_HN_SE_KS_df = pd.merge(UM_HN_SE_df, KS_df, on=['KisyuCode'], how='left')
    #
    UM_HN_SE_KS_CH_df = pd.merge(UM_HN_SE_KS_df, CH_df, on=['ChokyosiCode'], how='left')
    #
    UM_HN_SE_KS_CH_RA_df = pd.merge(RA_df, UM_HN_SE_KS_CH_df, on=['id$Year', 'id$MonthDay', 'id$JyoCD', 'id$Kaiji', 'id$Nichiji', 'id$RaceNum'], how='left')
    final_df = UM_HN_SE_KS_CH_RA_df.copy()
    
    # Update information from WE and WH tables
    WE_df = pd.read_pickle(folder_path+'\\WE.pickle.gz')
    WE_df = WE_df.loc[WE_df['id$JyoCD']==RA_df['id$JyoCD'].values[0], :]
    
    final_df['TenkoBaba$TenkoCD'] = WE_df['TenkoBaba$TenkoCD'].values[0]
    final_df['TenkoBaba$SibaBabaCD'] = WE_df['TenkoBaba$SibaBabaCD'].values[0]
    final_df['TenkoBaba$DirtBabaCD'] = WE_df['TenkoBaba$DirtBabaCD'].values[0]
    
    WH_df = pd.read_pickle(folder_path+'\\WH.pickle.gz')
    BaTaijyu_list = []
    ZogenFugo_list = []
    ZogenSa_list= []
    for i in range(1, len(SE_df)+1):
        BaTaijyu_col = 'BataijyuInfo$' + str(i) + '$BaTaijyu'
        BaTaijyu_list.append(WH_df[BaTaijyu_col].values[0])
        ZogenFugo_col = 'BataijyuInfo$' + str(i) + '$ZogenFugo'
        ZogenFugo_list.append(WH_df[ZogenFugo_col].values[0])
        ZogenSa_col = 'BataijyuInfo$' + str(i) + '$ZogenSa'
        ZogenSa_list.append(WH_df[ZogenSa_col].values[0])
        
    final_df['BaTaijyu'] = BaTaijyu_list
    final_df['ZogenFugo'] = ZogenFugo_list
    final_df['ZogenSa'] = ZogenSa_list
    
    # Convert  ZogenSa 
    final_df.loc[final_df['ZogenSa']=='   ', 'ZogenSa'] = 0
    final_df['ZogenSa'] = final_df['ZogenSa'].astype('float64')
    final_df.loc[final_df['ZogenFugo']=='-', 'ZogenSa'] = -1 * final_df['ZogenSa']
    final_df['ZogenSa']
    
    # Remove trường hợp BaTaijyu = 0 vì bị cancel start
    final_df = final_df[final_df['BaTaijyu']!=0]
    final_df.reset_index(drop=True, inplace=True)
    # Drop ZogenFugo
    final_df.drop('ZogenFugo', axis=1, inplace=True)
   
    # Select columns
    id_col = ['KettoNum']
    cat_col = [
            'Month',
            'id$JyoCD', # Mã trường đua
            'GradeCD',
            'JyokenInfo$SyubetuCD', # Cuộc đua dành cho ngựa bao nhiêu tuổi
            'JyokenInfo$KigoCD',
            'JyokenInfo$JyuryoCD', # Cách tính trọng lượng
            'TrackCD',
            'TenkoBaba$TenkoCD',
            'TenkoBaba$SibaBabaCD',
            'TenkoBaba$DirtBabaCD',
            'Umaban',
            'UmaKigoCD',
            'SexCD',
            'HinsyuCD',
            'KeiroCD',
            'TozaiCD',
            'MinaraiCD',
            'HN_HansyokuMochiKubun',
            # Xét sau
            'KS_SexCD',
            'KS_SikakuCD',
            'KS_TozaiCD',
            'KS_Syotai',
            'KS_ChokyosiCode',
            'CH_SexCD',
            'CH_TozaiCD',
            'CH_Syotai',
            ]

    num_col = [
                'id$Kaiji',
                'id$Nichiji',
                'id$RaceNum',
                #
                #'id',
                'Kyori',
                'Honsyokin',
                'Fukasyokin',
                'Barei',
                'Futan',
                'BaTaijyu',
                'ZogenSa',
               ]
    select_columns = id_col + cat_col + num_col
    test_data  = final_df[select_columns]
    return test_data

In [32]:
test_data = create_new_race_data(folder_path)
test_data

,KettoNum,Month,id$JyoCD,GradeCD,JyokenInfo$SyubetuCD,JyokenInfo$KigoCD,JyokenInfo$JyuryoCD,TrackCD,TenkoBaba$TenkoCD,TenkoBaba$SibaBabaCD,...,id$Kaiji,id$Nichiji,id$RaceNum,Kyori,Honsyokin,Fukasyokin,Barei,Futan,BaTaijyu,ZogenSa
0,2016104464,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,440,4.0
1,2016105215,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,510,446,4.0
2,2016105205,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,510,2.0
3,2016100976,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,510,430,-8.0
4,2016103007,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,424,6.0
5,2016106271,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,530,446,6.0
6,2016105531,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,452,-2.0
7,2016104169,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,448,-8.0
8,2016101100,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,444,6.0
9,2016102918,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,460,0.0
10,2016104154,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,438,12.0
11,2016100354,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,480,-2.0
12,2016102793,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,530,412,0.0
13,2016103522,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,454,6.0
14,2016100216,12,6,,11,023,3,24,1,1,...,5,5,1,1200,95500,0,2,540,452,4.0