## Merge các bảng và lưu bằng tên original_data.csv, nornal_original_data.csv
- Sử dụng 6 bảng: SE, RA, UM, KS, CH, HN

In [1]:
import pandas as pd
import numpy as np
from collections import Counter

### 1. Load data

- RA table

In [2]:
RA_df = pd.read_csv('RA_process_df.csv')
RA_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,race_id,Year,Month,RaceInfo$TokuNum,...,JyokenInfo$SyubetuCD,JyokenInfo$KigoCD,JyokenInfo$JyuryoCD,Kyori,TrackCD,TenkoBaba$TenkoCD,TenkoBaba$SibaBabaCD,TenkoBaba$DirtBabaCD,Honsyokin,Fukasyokin
0,2008,105,6,1,1,1,1,2008,1,0,...,12,023,3,1200,24,2,0,1,95500,0
1,2008,105,8,1,1,1,2,2008,1,0,...,12,003,3,1800,24,1,0,1,95500,0
2,2008,105,6,1,1,2,3,2008,1,0,...,12,003,3,1800,24,2,0,1,95500,0
3,2008,105,8,1,1,2,4,2008,1,0,...,12,A03,3,1200,24,1,0,1,95500,0
4,2008,105,6,1,1,3,5,2008,1,0,...,12,A03,3,1200,24,2,0,1,95500,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
35920,2018,520,5,2,10,11,35921,2018,5,3,...,12,N21,4,2400,11,1,1,0,2100000,392300
35921,2018,520,8,3,10,11,35922,2018,5,0,...,14,A03,1,2000,17,1,1,0,346200,4900
35922,2018,520,4,1,8,12,35923,2018,5,0,...,14,A00,4,1200,11,1,2,0,199500,6100
35923,2018,520,5,2,10,12,35924,2018,5,0,...,14,A03,1,2100,23,1,0,1,346200,4800
35924,2018,520,8,3,10,12,35925,2018,5,0,...,14,A03,4,1800,24,1,0,1,199500,0

In [3]:
RA_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35925 entries, 0 to 35924
Data columns (total 22 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   id$Year               35925 non-null  int64
 1   id$MonthDay           35925 non-null  int64
 2   id$JyoCD              35925 non-null  int64
 3   id$Kaiji              35925 non-null  int64
 4   id$Nichiji            35925 non-null  int64
 5   id$RaceNum            35925 non-null  int64
 6   race_id               35925 non-null  int64
 7   Year                  35925 non-null  int64
 8   Month                 35925 non-null  int64
 9   RaceInfo$TokuNum      35925 non-null  int64
 10  RaceInfo$Nkai         35925 non-null  int64
 11  GradeCD               35925 non-null  object
 12  JyokenInfo$SyubetuCD  35925 non-null  int64
 13  JyokenInfo$KigoCD     35925 non-null  object
 14  JyokenInfo$JyuryoCD   35925 non-null  int64
 15  Kyori                 35925 non-null  int64
 16  TrackCD               35925 non-null  int64
 17  TenkoBaba$TenkoCD     35925 non-null  int64
 18  TenkoBaba$SibaBabaCD  35925 non-null  int64
 19  TenkoBaba$DirtBabaCD  35925 non-null  int64
 20  Honsyokin             35925 non-null  int64
 21  Fukasyokin            35925 non-null  int64
dtypes: int64(20), object(2)
memory usage: 6.0+ MB

- SE table

In [4]:
SE_df = pd.read_csv('SE_process_df.csv')
SE_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,Futan,KisyuCode,MinaraiCD,BaTaijyu,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
0,2008,105,6,1,1,1,1,2005107051,0,2,...,540,1031,0,428.0,12,0,8,1152,298,13
1,2008,105,6,1,1,1,2,2005102028,0,2,...,540,733,0,450.0,-10,0,1,1139,81,0
2,2008,105,6,1,1,1,3,2005104156,0,2,...,540,684,0,458.0,4,0,3,1142,82,3
3,2008,105,6,1,1,1,4,2005105319,0,2,...,540,672,0,402.0,-10,0,6,1149,1173,10
4,2008,105,6,1,1,1,5,2005101044,0,2,...,540,663,0,482.0,2,0,2,1139,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520643,2018,701,7,3,2,12,11,2012104696,0,3,...,560,1160,1,486.0,-6,0,13,2004,2462,17
520644,2018,701,7,3,2,12,12,2014103669,5,1,...,570,732,0,502.0,8,0,11,2004,642,17
520645,2018,701,7,3,2,12,13,2013102631,0,1,...,570,1157,0,464.0,-6,0,5,1595,161,8
520646,2018,701,7,3,2,12,14,2014102088,0,1,...,560,1155,1,456.0,-4,0,8,2002,6330,15
520647,2018,701,7,3,2,12,15,2014106395,0,1,...,570,1122,0,520.0,-2,0,14,2020,2876,33

In [5]:
SE_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520648 entries, 0 to 520647
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id$Year       520648 non-null  int64
 1   id$MonthDay   520648 non-null  int64
 2   id$JyoCD      520648 non-null  int64
 3   id$Kaiji      520648 non-null  int64
 4   id$Nichiji    520648 non-null  int64
 5   id$RaceNum    520648 non-null  int64
 6   Umaban        520648 non-null  int64
 7   KettoNum      520648 non-null  int64
 8   UmaKigoCD     520648 non-null  int64
 9   SexCD         520648 non-null  int64
 10  HinsyuCD      520648 non-null  int64
 11  KeiroCD       520648 non-null  int64
 12  Barei         520648 non-null  int64
 13  TozaiCD       520648 non-null  int64
 14  ChokyosiCode  520648 non-null  int64
 15  BanusiCode    520648 non-null  int64
 16  Futan         520648 non-null  int64
 17  KisyuCode     520648 non-null  int64
 18  MinaraiCD     520648 non-null  int64
 19  BaTaijyu      520648 non-null  float64
 20  ZogenSa       520648 non-null  int64
 21  IJyoCD        520648 non-null  int64
 22  KakuteiJyuni  520648 non-null  int64
 23  Time          520648 non-null  int64
 24  Odds          520648 non-null  int64
 25  TimeDiff      520648 non-null  int64
dtypes: float64(1), int64(25)
memory usage: 103.3 MB

- UM table

In [6]:
UM_df = pd.read_csv('UM_process_df.csv')
UM_df.head()

,KettoNum,UM_Bamei,UM_ZaikyuFlag,UM_SexCD,UM_HinsyuCD,UM_KeiroCD,UM_Ketto3Info$1$HansyokuNum,UM_Ketto3Info$1$Bamei,UM_TozaiCD,UM_ChokyosiCode,UM_BreederCode,UM_BanusiCode,UM_RuikeiHonsyoHeiti,UM_RuikeiHonsyoSyogai,UM_RuikeiFukaHeichi,UM_RuikeiFukaSyogai,UM_RuikeiSyutokuHeichi,UM_RuikeiSyutokuSyogai
0,2009102487,ピエモンテ,0,2,1,1,11201542,フジキセキ,1,1079,913124,338007,28000,0,0,0,0,0
1,2009102488,セレブリティトーク,0,2,1,4,11201164,ブライアンズタイム,2,1075,913124,362800,0,0,0,0,0,0
2,2009102489,ブーフーウー,0,1,1,3,11202008,スターリングローズ,1,1134,913124,970006,0,0,0,0,3000,0
3,2009102490,シーキングザローズ,0,2,1,4,11202135,シーキングザダイヤ,1,1064,913124,15008,0,0,0,0,0,0
4,2009102491,ミッキーバルーン,0,1,1,1,11202006,キングカメハメハ,2,1123,913124,441007,93200,0,0,0,20000,0

In [7]:
UM_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 171711 entries, 0 to 171710
Data columns (total 18 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   KettoNum                     171711 non-null  int64
 1   UM_Bamei                     171711 non-null  object
 2   UM_ZaikyuFlag                171711 non-null  int64
 3   UM_SexCD                     171711 non-null  int64
 4   UM_HinsyuCD                  171711 non-null  int64
 5   UM_KeiroCD                   171711 non-null  int64
 6   UM_Ketto3Info$1$HansyokuNum  171711 non-null  int64
 7   UM_Ketto3Info$1$Bamei        171711 non-null  object
 8   UM_TozaiCD                   171711 non-null  int64
 9   UM_ChokyosiCode              171711 non-null  int64
 10  UM_BreederCode               171711 non-null  int64
 11  UM_BanusiCode                171711 non-null  int64
 12  UM_RuikeiHonsyoHeiti         171711 non-null  int64
 13  UM_RuikeiHonsyoSyogai        171711 non-null  int64
 14  UM_RuikeiFukaHeichi          171711 non-null  int64
 15  UM_RuikeiFukaSyogai          171711 non-null  int64
 16  UM_RuikeiSyutokuHeichi       171711 non-null  int64
 17  UM_RuikeiSyutokuSyogai       171711 non-null  int64
dtypes: int64(16), object(2)
memory usage: 23.6+ MB

- KS table

In [8]:
KS_df = pd.read_csv('KS_process_df.csv')
KS_df.head()

,KisyuCode,KS_SexCD,KS_SikakuCD,KS_MinaraiCD,KS_TozaiCD,KS_Syotai,KS_ChokyosiCode
0,1166,1,1,3,2,,0
1,422,1,2,0,1,,0
2,641,1,2,0,1,,0
3,652,1,1,0,2,,0
4,660,1,2,0,1,,0

In [9]:
KS_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1384 entries, 0 to 1383
Data columns (total 7 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   KisyuCode        1384 non-null   int64
 1   KS_SexCD         1384 non-null   int64
 2   KS_SikakuCD      1384 non-null   int64
 3   KS_MinaraiCD     1384 non-null   int64
 4   KS_TozaiCD       1384 non-null   int64
 5   KS_Syotai        1384 non-null   object
 6   KS_ChokyosiCode  1384 non-null   int64
dtypes: int64(6), object(1)
memory usage: 75.8+ KB

- CH table

In [10]:
CH_df = pd.read_csv('CH_process_df.csv')
CH_df.head()

   ChokyosiCode  CH_SexCD  CH_TozaiCD   CH_Syotai
0          5691         1           3  兵庫
1           261         1           2
2           341         1           1
3           356         1           2
4           359         1           1

In [11]:
CH_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1353 entries, 0 to 1352
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ChokyosiCode  1353 non-null   int64
 1   CH_SexCD      1353 non-null   int64
 2   CH_TozaiCD    1353 non-null   int64
 3   CH_Syotai     1353 non-null   object
dtypes: int64(3), object(1)
memory usage: 42.4+ KB

- HN table

In [12]:
HN_df = pd.read_csv('HN_process_df.csv')
HN_df.head()

,HansyokuNum,HN_Bamei,HN_SexCD,HN_HinsyuCD,HN_KeiroCD,HN_HansyokuMochiKubun,HN_HansyokuFNum,HN_HansyokuMNum
0,11202321,スマイルジャック,1,1,4,0,11201901,12248241
1,11202322,セレスハント,1,1,1,0,11201961,12237274
2,11202323,デスペラード,1,1,3,0,11202004,12250625
3,11202324,ファーガソン,1,1,3,0,11201916,12251199
4,11202325,レッドスパーダ,1,1,3,0,11201700,12247628

In [13]:
HN_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 144105 entries, 0 to 144104
Data columns (total 8 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   HansyokuNum            144105 non-null  int64
 1   HN_Bamei               144105 non-null  object
 2   HN_SexCD               144105 non-null  int64
 3   HN_HinsyuCD            144105 non-null  int64
 4   HN_KeiroCD             144105 non-null  int64
 5   HN_HansyokuMochiKubun  144105 non-null  int64
 6   HN_HansyokuFNum        144105 non-null  int64
 7   HN_HansyokuMNum        144105 non-null  int64
dtypes: int64(7), object(1)
memory usage: 8.8+ MB

### 2. Merge UM và HN với key = HansyokuNum và Ketto3Info$1$HansyokuNum

In [14]:
UM_df['HansyokuNum'] = UM_df['UM_Ketto3Info$1$HansyokuNum']

In [15]:
# Merge 2 table
UM_HN_df = pd.merge(UM_df, HN_df, on=['HansyokuNum'], how='left')
UM_HN_df

,KettoNum,UM_Bamei,UM_ZaikyuFlag,UM_SexCD,UM_HinsyuCD,UM_KeiroCD,UM_Ketto3Info$1$HansyokuNum,UM_Ketto3Info$1$Bamei,UM_TozaiCD,UM_ChokyosiCode,...,UM_RuikeiSyutokuHeichi,UM_RuikeiSyutokuSyogai,HansyokuNum,HN_Bamei,HN_SexCD,HN_HinsyuCD,HN_KeiroCD,HN_HansyokuMochiKubun,HN_HansyokuFNum,HN_HansyokuMNum
0,2009102487,ピエモンテ,0,2,1,1,11201542,フジキセキ,1,1079,...,0,0,11201542,フジキセキ,1.0,1.0,5.0,0.0,11201232.0,12229223.0
1,2009102488,セレブリティトーク,0,2,1,4,11201164,ブライアンズタイム,2,1075,...,0,0,11201164,ブライアンズタイム,1.0,1.0,4.0,3.0,11301372.0,12406315.0
2,2009102489,ブーフーウー,0,1,1,3,11202008,スターリングローズ,1,1134,...,3000,0,11202008,スターリングローズ,1.0,1.0,1.0,0.0,11201507.0,12231125.0
3,2009102490,シーキングザローズ,0,2,1,4,11202135,シーキングザダイヤ,1,1064,...,0,0,11202135,シーキングザダイヤ,1.0,1.0,3.0,3.0,11402183.0,12419687.0
4,2009102491,ミッキーバルーン,0,1,1,1,11202006,キングカメハメハ,2,1123,...,20000,0,11202006,キングカメハメハ,1.0,1.0,3.0,1.0,11403006.0,12245300.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
171706,2016106189,ウサギノワルツ,1,1,1,1,11202272,フリオーソ,1,428,...,0,0,11202272,フリオーソ,1.0,1.0,1.0,0.0,11201164.0,12246373.0
171707,2016106227,アレーテス,1,2,1,4,11202132,メイショウボーラー,2,1104,...,0,0,11202132,メイショウボーラー,1.0,1.0,4.0,0.0,11201700.0,12242639.0
171708,2016109023,サムシングジャスト,1,2,1,4,11202246,ヴィクトワールピサ,2,1011,...,0,0,11202246,ヴィクトワールピサ,1.0,1.0,4.0,0.0,11202004.0,12243930.0
171709,2016110041,ショウナンアリアナ,1,2,1,3,11406549,Frankel,2,1117,...,0,0,11406549,Frankel,1.0,1.0,0.0,9.0,11404605.0,12428068.0
171710,2016110091,フォートワズワース,1,1,1,4,11406902,Verrazano,2,1148,...,0,0,11406902,Verrazano,1.0,1.0,0.0,9.0,11404699.0,12430206.0

### 3. Merge SE và UM_HN với key = KettoNum

In [16]:
# Merge 2 table
UM_HN_SE_df = pd.merge(SE_df, UM_HN_df, on=['KettoNum'], how='left')
UM_HN_SE_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,UM_RuikeiSyutokuHeichi,UM_RuikeiSyutokuSyogai,HansyokuNum,HN_Bamei,HN_SexCD,HN_HinsyuCD,HN_KeiroCD,HN_HansyokuMochiKubun,HN_HansyokuFNum,HN_HansyokuMNum
0,2008,105,6,1,1,1,1,2005107051,0,2,...,0.0,0.0,11201975.0,サウスヴィグラス,1.0,1.0,1.0,3.0,11403690.0,12415752.0
1,2008,105,6,1,1,1,2,2005102028,0,2,...,20000.0,0.0,11201520.0,サクラバクシンオー,1.0,1.0,3.0,0.0,11200941.0,12226430.0
2,2008,105,6,1,1,1,3,2005104156,0,2,...,20000.0,0.0,11201796.0,フレンチデピュティ,1.0,1.0,1.0,3.0,11401570.0,12415529.0
3,2008,105,6,1,1,1,4,2005105319,0,2,...,0.0,0.0,11201905.0,カリズマティック,1.0,1.0,1.0,3.0,11403018.0,12418096.0
4,2008,105,6,1,1,1,5,2005101044,0,2,...,95000.0,0.0,11201791.0,グラスワンダー,1.0,1.0,1.0,3.0,11401948.0,12414256.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520643,2018,701,7,3,2,12,11,2012104696,0,3,...,20000.0,0.0,11201957.0,ワイルドラッシュ,1.0,1.0,3.0,3.0,11401593.0,12412764.0
520644,2018,701,7,3,2,12,12,2014103669,5,1,...,63000.0,0.0,11202266.0,サマーバード,1.0,1.0,1.0,3.0,11406293.0,12427589.0
520645,2018,701,7,3,2,12,13,2013102631,0,1,...,45000.0,0.0,11202050.0,ロージズインメイ,1.0,1.0,5.0,3.0,11404022.0,12417797.0
520646,2018,701,7,3,2,12,14,2014102088,0,1,...,40000.0,0.0,11202266.0,サマーバード,1.0,1.0,1.0,3.0,11406293.0,12427589.0
520647,2018,701,7,3,2,12,15,2014106395,0,1,...,40000.0,0.0,11202284.0,トランセンド,1.0,1.0,3.0,0.0,11201957.0,12243826.0

### 3. Merge UM_HN_SE và KS với key = KisyuCode

In [17]:
# Merge 2 table
UM_HN_SE_KS_df = pd.merge(UM_HN_SE_df, KS_df, on=['KisyuCode'], how='left')
UM_HN_SE_KS_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,HN_KeiroCD,HN_HansyokuMochiKubun,HN_HansyokuFNum,HN_HansyokuMNum,KS_SexCD,KS_SikakuCD,KS_MinaraiCD,KS_TozaiCD,KS_Syotai,KS_ChokyosiCode
0,2008,105,6,1,1,1,1,2005107051,0,2,...,1.0,3.0,11403690.0,12415752.0,1.0,2.0,0.0,1.0,,0.0
1,2008,105,6,1,1,1,2,2005102028,0,2,...,3.0,0.0,11200941.0,12226430.0,1.0,1.0,0.0,1.0,,0.0
2,2008,105,6,1,1,1,3,2005104156,0,2,...,1.0,3.0,11401570.0,12415529.0,1.0,2.0,0.0,1.0,,0.0
3,2008,105,6,1,1,1,4,2005105319,0,2,...,1.0,3.0,11403018.0,12418096.0,1.0,2.0,0.0,1.0,,0.0
4,2008,105,6,1,1,1,5,2005101044,0,2,...,1.0,3.0,11401948.0,12414256.0,1.0,2.0,0.0,1.0,,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520643,2018,701,7,3,2,12,11,2012104696,0,3,...,3.0,3.0,11401593.0,12412764.0,1.0,1.0,1.0,2.0,,1110.0
520644,2018,701,7,3,2,12,12,2014103669,5,1,...,1.0,3.0,11406293.0,12427589.0,1.0,2.0,0.0,2.0,,0.0
520645,2018,701,7,3,2,12,13,2013102631,0,1,...,5.0,3.0,11404022.0,12417797.0,1.0,1.0,0.0,2.0,,411.0
520646,2018,701,7,3,2,12,14,2014102088,0,1,...,1.0,3.0,11406293.0,12427589.0,1.0,1.0,1.0,2.0,,365.0
520647,2018,701,7,3,2,12,15,2014106395,0,1,...,3.0,0.0,11201957.0,12243826.0,1.0,2.0,0.0,1.0,,1097.0

### 4. Merge UM_HN_SE_KS và CH với key = ChokyosiCode

In [18]:
# Merge 2 table
UM_HN_SE_KS_CH_df = pd.merge(UM_HN_SE_KS_df, CH_df, on=['ChokyosiCode'], how='left')
UM_HN_SE_KS_CH_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,HN_HansyokuMNum,KS_SexCD,KS_SikakuCD,KS_MinaraiCD,KS_TozaiCD,KS_Syotai,KS_ChokyosiCode,CH_SexCD,CH_TozaiCD,CH_Syotai
0,2008,105,6,1,1,1,1,2005107051,0,2,...,12415752.0,1.0,2.0,0.0,1.0,,0.0,1,1,
1,2008,105,6,1,1,1,2,2005102028,0,2,...,12226430.0,1.0,1.0,0.0,1.0,,0.0,1,1,
2,2008,105,6,1,1,1,3,2005104156,0,2,...,12415529.0,1.0,2.0,0.0,1.0,,0.0,1,1,
3,2008,105,6,1,1,1,4,2005105319,0,2,...,12418096.0,1.0,2.0,0.0,1.0,,0.0,1,1,
4,2008,105,6,1,1,1,5,2005101044,0,2,...,12414256.0,1.0,2.0,0.0,1.0,,0.0,1,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520643,2018,701,7,3,2,12,11,2012104696,0,3,...,12412764.0,1.0,1.0,1.0,2.0,,1110.0,1,2,
520644,2018,701,7,3,2,12,12,2014103669,5,1,...,12427589.0,1.0,2.0,0.0,2.0,,0.0,1,2,
520645,2018,701,7,3,2,12,13,2013102631,0,1,...,12417797.0,1.0,1.0,0.0,2.0,,411.0,1,2,
520646,2018,701,7,3,2,12,14,2014102088,0,1,...,12427589.0,1.0,1.0,1.0,2.0,,365.0,1,2,
520647,2018,701,7,3,2,12,15,2014106395,0,1,...,12243826.0,1.0,2.0,0.0,1.0,,1097.0,1,2,

In [19]:
UM_HN_SE_KS_CH_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 520648 entries, 0 to 520647
Data columns (total 60 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id$Year                      520648 non-null  int64
 1   id$MonthDay                  520648 non-null  int64
 2   id$JyoCD                     520648 non-null  int64
 3   id$Kaiji                     520648 non-null  int64
 4   id$Nichiji                   520648 non-null  int64
 5   id$RaceNum                   520648 non-null  int64
 6   Umaban                       520648 non-null  int64
 7   KettoNum                     520648 non-null  int64
 8   UmaKigoCD                    520648 non-null  int64
 9   SexCD                        520648 non-null  int64
 10  HinsyuCD                     520648 non-null  int64
 11  KeiroCD                      520648 non-null  int64
 12  Barei                        520648 non-null  int64
 13  TozaiCD                      520648 non-null  int64
 14  ChokyosiCode                 520648 non-null  int64
 15  BanusiCode                   520648 non-null  int64
 16  Futan                        520648 non-null  int64
 17  KisyuCode                    520648 non-null  int64
 18  MinaraiCD                    520648 non-null  int64
 19  BaTaijyu                     520648 non-null  float64
 20  ZogenSa                      520648 non-null  int64
 21  IJyoCD                       520648 non-null  int64
 22  KakuteiJyuni                 520648 non-null  int64
 23  Time                         520648 non-null  int64
 24  Odds                         520648 non-null  int64
 25  TimeDiff                     520648 non-null  int64
 26  UM_Bamei                     520561 non-null  object
 27  UM_ZaikyuFlag                520561 non-null  float64
 28  UM_SexCD                     520561 non-null  float64
 29  UM_HinsyuCD                  520561 non-null  float64
 30  UM_KeiroCD                   520561 non-null  float64
 31  UM_Ketto3Info$1$HansyokuNum  520561 non-null  float64
 32  UM_Ketto3Info$1$Bamei        520561 non-null  object
 33  UM_TozaiCD                   520561 non-null  float64
 34  UM_ChokyosiCode              520561 non-null  float64
 35  UM_BreederCode               520561 non-null  float64
 36  UM_BanusiCode                520561 non-null  float64
 37  UM_RuikeiHonsyoHeiti         520561 non-null  float64
 38  UM_RuikeiHonsyoSyogai        520561 non-null  float64
 39  UM_RuikeiFukaHeichi          520561 non-null  float64
 40  UM_RuikeiFukaSyogai          520561 non-null  float64
 41  UM_RuikeiSyutokuHeichi       520561 non-null  float64
 42  UM_RuikeiSyutokuSyogai       520561 non-null  float64
 43  HansyokuNum                  520561 non-null  float64
 44  HN_Bamei                     520456 non-null  object
 45  HN_SexCD                     520456 non-null  float64
 46  HN_HinsyuCD                  520456 non-null  float64
 47  HN_KeiroCD                   520456 non-null  float64
 48  HN_HansyokuMochiKubun        520456 non-null  float64
 49  HN_HansyokuFNum              520456 non-null  float64
 50  HN_HansyokuMNum              520456 non-null  float64
 51  KS_SexCD                     520646 non-null  float64
 52  KS_SikakuCD                  520646 non-null  float64
 53  KS_MinaraiCD                 520646 non-null  float64
 54  KS_TozaiCD                   520646 non-null  float64
 55  KS_Syotai                    520646 non-null  object
 56  KS_ChokyosiCode              520646 non-null  float64
 57  CH_SexCD                     520648 non-null  int64
 58  CH_TozaiCD                   520648 non-null  int64
 59  CH_Syotai                    520648 non-null  object
dtypes: float64(28), int64(27), object(5)
memory usage: 242.3+ MB

### 5. Merge UM_HN_SE_KS_CH và RA với key = ['id$Year', 'id$MonthDay', 'id$JyoCD', 'id$Kaiji', 'id$Nichiji', 'id$RaceNum']

In [20]:
# Merge 2 table
UM_HN_SE_KS_CH_RA_df = pd.merge(RA_df, UM_HN_SE_KS_CH_df, on=['id$Year', 'id$MonthDay', 'id$JyoCD', 'id$Kaiji', 'id$Nichiji', 'id$RaceNum'],
                                how='left')
UM_HN_SE_KS_CH_RA_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,race_id,Year,Month,RaceInfo$TokuNum,...,HN_HansyokuMNum,KS_SexCD,KS_SikakuCD,KS_MinaraiCD,KS_TozaiCD,KS_Syotai,KS_ChokyosiCode,CH_SexCD,CH_TozaiCD,CH_Syotai
0,2008,105,6,1,1,1,1,2008,1,0,...,12415752.0,1.0,2.0,0.0,1.0,,0.0,1,1,
1,2008,105,6,1,1,1,1,2008,1,0,...,12226430.0,1.0,1.0,0.0,1.0,,0.0,1,1,
2,2008,105,6,1,1,1,1,2008,1,0,...,12415529.0,1.0,2.0,0.0,1.0,,0.0,1,1,
3,2008,105,6,1,1,1,1,2008,1,0,...,12418096.0,1.0,2.0,0.0,1.0,,0.0,1,1,
4,2008,105,6,1,1,1,1,2008,1,0,...,12414256.0,1.0,2.0,0.0,1.0,,0.0,1,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515538,2018,520,8,3,10,12,35925,2018,5,0,...,12236137.0,1.0,2.0,0.0,2.0,,0.0,1,2,
515539,2018,520,8,3,10,12,35925,2018,5,0,...,12417427.0,1.0,2.0,0.0,2.0,,0.0,1,2,
515540,2018,520,8,3,10,12,35925,2018,5,0,...,12237259.0,1.0,1.0,3.0,2.0,,1009.0,1,2,
515541,2018,520,8,3,10,12,35925,2018,5,0,...,12412764.0,1.0,1.0,0.0,2.0,,411.0,1,2,
515542,2018,520,8,3,10,12,35925,2018,5,0,...,12240225.0,1.0,2.0,0.0,2.0,,0.0,1,2,

In [21]:
UM_HN_SE_KS_CH_RA_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515543 entries, 0 to 515542
Data columns (total 76 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id$Year                      515543 non-null  int64
 1   id$MonthDay                  515543 non-null  int64
 2   id$JyoCD                     515543 non-null  int64
 3   id$Kaiji                     515543 non-null  int64
 4   id$Nichiji                   515543 non-null  int64
 5   id$RaceNum                   515543 non-null  int64
 6   race_id                      515543 non-null  int64
 7   Year                         515543 non-null  int64
 8   Month                        515543 non-null  int64
 9   RaceInfo$TokuNum             515543 non-null  int64
 10  RaceInfo$Nkai                515543 non-null  int64
 11  GradeCD                      515543 non-null  object
 12  JyokenInfo$SyubetuCD         515543 non-null  int64
 13  JyokenInfo$KigoCD            515543 non-null  object
 14  JyokenInfo$JyuryoCD          515543 non-null  int64
 15  Kyori                        515543 non-null  int64
 16  TrackCD                      515543 non-null  int64
 17  TenkoBaba$TenkoCD            515543 non-null  int64
 18  TenkoBaba$SibaBabaCD         515543 non-null  int64
 19  TenkoBaba$DirtBabaCD         515543 non-null  int64
 20  Honsyokin                    515543 non-null  int64
 21  Fukasyokin                   515543 non-null  int64
 22  Umaban                       515543 non-null  int64
 23  KettoNum                     515543 non-null  int64
 24  UmaKigoCD                    515543 non-null  int64
 25  SexCD                        515543 non-null  int64
 26  HinsyuCD                     515543 non-null  int64
 27  KeiroCD                      515543 non-null  int64
 28  Barei                        515543 non-null  int64
 29  TozaiCD                      515543 non-null  int64
 30  ChokyosiCode                 515543 non-null  int64
 31  BanusiCode                   515543 non-null  int64
 32  Futan                        515543 non-null  int64
 33  KisyuCode                    515543 non-null  int64
 34  MinaraiCD                    515543 non-null  int64
 35  BaTaijyu                     515543 non-null  float64
 36  ZogenSa                      515543 non-null  int64
 37  IJyoCD                       515543 non-null  int64
 38  KakuteiJyuni                 515543 non-null  int64
 39  Time                         515543 non-null  int64
 40  Odds                         515543 non-null  int64
 41  TimeDiff                     515543 non-null  int64
 42  UM_Bamei                     515543 non-null  object
 43  UM_ZaikyuFlag                515543 non-null  float64
 44  UM_SexCD                     515543 non-null  float64
 45  UM_HinsyuCD                  515543 non-null  float64
 46  UM_KeiroCD                   515543 non-null  float64
 47  UM_Ketto3Info$1$HansyokuNum  515543 non-null  float64
 48  UM_Ketto3Info$1$Bamei        515543 non-null  object
 49  UM_TozaiCD                   515543 non-null  float64
 50  UM_ChokyosiCode              515543 non-null  float64
 51  UM_BreederCode               515543 non-null  float64
 52  UM_BanusiCode                515543 non-null  float64
 53  UM_RuikeiHonsyoHeiti         515543 non-null  float64
 54  UM_RuikeiHonsyoSyogai        515543 non-null  float64
 55  UM_RuikeiFukaHeichi          515543 non-null  float64
 56  UM_RuikeiFukaSyogai          515543 non-null  float64
 57  UM_RuikeiSyutokuHeichi       515543 non-null  float64
 58  UM_RuikeiSyutokuSyogai       515543 non-null  float64
 59  HansyokuNum                  515543 non-null  float64
 60  HN_Bamei                     515439 non-null  object
 61  HN_SexCD                     515439 non-null  float64
 62  HN_HinsyuCD                  515439 non-null  float64
 63  HN_KeiroCD                   515439 non-null  float64
 64  HN_HansyokuMochiKubun        515439 non-null  float64
 65  HN_HansyokuFNum              515439 non-null  float64
 66  HN_HansyokuMNum              515439 non-null  float64
 67  KS_SexCD                     515543 non-null  float64
 68  KS_SikakuCD                  515543 non-null  float64
 69  KS_MinaraiCD                 515543 non-null  float64
 70  KS_TozaiCD                   515543 non-null  float64
 71  KS_Syotai                    515543 non-null  object
 72  KS_ChokyosiCode              515543 non-null  float64
 73  CH_SexCD                     515543 non-null  int64
 74  CH_TozaiCD                   515543 non-null  int64
 75  CH_Syotai                    515543 non-null  object
dtypes: float64(28), int64(41), object(7)
memory usage: 302.9+ MB

- <span style="color:blue">Nhận xét:
    - Một số dòng có giá trị Null do bảng HN không đủ dữ liệu, chỉ có 104 giá trị, ta có thể remove

In [22]:
UM_HN_SE_KS_CH_RA_df.dropna(inplace=True)
UM_HN_SE_KS_CH_RA_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 515439 entries, 0 to 515542
Data columns (total 76 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id$Year                      515439 non-null  int64
 1   id$MonthDay                  515439 non-null  int64
 2   id$JyoCD                     515439 non-null  int64
 3   id$Kaiji                     515439 non-null  int64
 4   id$Nichiji                   515439 non-null  int64
 5   id$RaceNum                   515439 non-null  int64
 6   race_id                      515439 non-null  int64
 7   Year                         515439 non-null  int64
 8   Month                        515439 non-null  int64
 9   RaceInfo$TokuNum             515439 non-null  int64
 10  RaceInfo$Nkai                515439 non-null  int64
 11  GradeCD                      515439 non-null  object
 12  JyokenInfo$SyubetuCD         515439 non-null  int64
 13  JyokenInfo$KigoCD            515439 non-null  object
 14  JyokenInfo$JyuryoCD          515439 non-null  int64
 15  Kyori                        515439 non-null  int64
 16  TrackCD                      515439 non-null  int64
 17  TenkoBaba$TenkoCD            515439 non-null  int64
 18  TenkoBaba$SibaBabaCD         515439 non-null  int64
 19  TenkoBaba$DirtBabaCD         515439 non-null  int64
 20  Honsyokin                    515439 non-null  int64
 21  Fukasyokin                   515439 non-null  int64
 22  Umaban                       515439 non-null  int64
 23  KettoNum                     515439 non-null  int64
 24  UmaKigoCD                    515439 non-null  int64
 25  SexCD                        515439 non-null  int64
 26  HinsyuCD                     515439 non-null  int64
 27  KeiroCD                      515439 non-null  int64
 28  Barei                        515439 non-null  int64
 29  TozaiCD                      515439 non-null  int64
 30  ChokyosiCode                 515439 non-null  int64
 31  BanusiCode                   515439 non-null  int64
 32  Futan                        515439 non-null  int64
 33  KisyuCode                    515439 non-null  int64
 34  MinaraiCD                    515439 non-null  int64
 35  BaTaijyu                     515439 non-null  float64
 36  ZogenSa                      515439 non-null  int64
 37  IJyoCD                       515439 non-null  int64
 38  KakuteiJyuni                 515439 non-null  int64
 39  Time                         515439 non-null  int64
 40  Odds                         515439 non-null  int64
 41  TimeDiff                     515439 non-null  int64
 42  UM_Bamei                     515439 non-null  object
 43  UM_ZaikyuFlag                515439 non-null  float64
 44  UM_SexCD                     515439 non-null  float64
 45  UM_HinsyuCD                  515439 non-null  float64
 46  UM_KeiroCD                   515439 non-null  float64
 47  UM_Ketto3Info$1$HansyokuNum  515439 non-null  float64
 48  UM_Ketto3Info$1$Bamei        515439 non-null  object
 49  UM_TozaiCD                   515439 non-null  float64
 50  UM_ChokyosiCode              515439 non-null  float64
 51  UM_BreederCode               515439 non-null  float64
 52  UM_BanusiCode                515439 non-null  float64
 53  UM_RuikeiHonsyoHeiti         515439 non-null  float64
 54  UM_RuikeiHonsyoSyogai        515439 non-null  float64
 55  UM_RuikeiFukaHeichi          515439 non-null  float64
 56  UM_RuikeiFukaSyogai          515439 non-null  float64
 57  UM_RuikeiSyutokuHeichi       515439 non-null  float64
 58  UM_RuikeiSyutokuSyogai       515439 non-null  float64
 59  HansyokuNum                  515439 non-null  float64
 60  HN_Bamei                     515439 non-null  object
 61  HN_SexCD                     515439 non-null  float64
 62  HN_HinsyuCD                  515439 non-null  float64
 63  HN_KeiroCD                   515439 non-null  float64
 64  HN_HansyokuMochiKubun        515439 non-null  float64
 65  HN_HansyokuFNum              515439 non-null  float64
 66  HN_HansyokuMNum              515439 non-null  float64
 67  KS_SexCD                     515439 non-null  float64
 68  KS_SikakuCD                  515439 non-null  float64
 69  KS_MinaraiCD                 515439 non-null  float64
 70  KS_TozaiCD                   515439 non-null  float64
 71  KS_Syotai                    515439 non-null  object
 72  KS_ChokyosiCode              515439 non-null  float64
 73  CH_SexCD                     515439 non-null  int64
 74  CH_TozaiCD                   515439 non-null  int64
 75  CH_Syotai                    515439 non-null  object
dtypes: float64(28), int64(41), object(7)
memory usage: 302.8+ MB

In [23]:
# Ghi dữ liệu ra file
UM_HN_SE_KS_CH_RA_df.to_csv('original_data.csv', index=False)

In [24]:
# Check
check_df = pd.read_csv('original_data.csv')
check_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515439 entries, 0 to 515438
Data columns (total 76 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id$Year                      515439 non-null  int64
 1   id$MonthDay                  515439 non-null  int64
 2   id$JyoCD                     515439 non-null  int64
 3   id$Kaiji                     515439 non-null  int64
 4   id$Nichiji                   515439 non-null  int64
 5   id$RaceNum                   515439 non-null  int64
 6   race_id                      515439 non-null  int64
 7   Year                         515439 non-null  int64
 8   Month                        515439 non-null  int64
 9   RaceInfo$TokuNum             515439 non-null  int64
 10  RaceInfo$Nkai                515439 non-null  int64
 11  GradeCD                      515439 non-null  object
 12  JyokenInfo$SyubetuCD         515439 non-null  int64
 13  JyokenInfo$KigoCD            515439 non-null  object
 14  JyokenInfo$JyuryoCD          515439 non-null  int64
 15  Kyori                        515439 non-null  int64
 16  TrackCD                      515439 non-null  int64
 17  TenkoBaba$TenkoCD            515439 non-null  int64
 18  TenkoBaba$SibaBabaCD         515439 non-null  int64
 19  TenkoBaba$DirtBabaCD         515439 non-null  int64
 20  Honsyokin                    515439 non-null  int64
 21  Fukasyokin                   515439 non-null  int64
 22  Umaban                       515439 non-null  int64
 23  KettoNum                     515439 non-null  int64
 24  UmaKigoCD                    515439 non-null  int64
 25  SexCD                        515439 non-null  int64
 26  HinsyuCD                     515439 non-null  int64
 27  KeiroCD                      515439 non-null  int64
 28  Barei                        515439 non-null  int64
 29  TozaiCD                      515439 non-null  int64
 30  ChokyosiCode                 515439 non-null  int64
 31  BanusiCode                   515439 non-null  int64
 32  Futan                        515439 non-null  int64
 33  KisyuCode                    515439 non-null  int64
 34  MinaraiCD                    515439 non-null  int64
 35  BaTaijyu                     515439 non-null  float64
 36  ZogenSa                      515439 non-null  int64
 37  IJyoCD                       515439 non-null  int64
 38  KakuteiJyuni                 515439 non-null  int64
 39  Time                         515439 non-null  int64
 40  Odds                         515439 non-null  int64
 41  TimeDiff                     515439 non-null  int64
 42  UM_Bamei                     515439 non-null  object
 43  UM_ZaikyuFlag                515439 non-null  float64
 44  UM_SexCD                     515439 non-null  float64
 45  UM_HinsyuCD                  515439 non-null  float64
 46  UM_KeiroCD                   515439 non-null  float64
 47  UM_Ketto3Info$1$HansyokuNum  515439 non-null  float64
 48  UM_Ketto3Info$1$Bamei        515439 non-null  object
 49  UM_TozaiCD                   515439 non-null  float64
 50  UM_ChokyosiCode              515439 non-null  float64
 51  UM_BreederCode               515439 non-null  float64
 52  UM_BanusiCode                515439 non-null  float64
 53  UM_RuikeiHonsyoHeiti         515439 non-null  float64
 54  UM_RuikeiHonsyoSyogai        515439 non-null  float64
 55  UM_RuikeiFukaHeichi          515439 non-null  float64
 56  UM_RuikeiFukaSyogai          515439 non-null  float64
 57  UM_RuikeiSyutokuHeichi       515439 non-null  float64
 58  UM_RuikeiSyutokuSyogai       515439 non-null  float64
 59  HansyokuNum                  515439 non-null  float64
 60  HN_Bamei                     515439 non-null  object
 61  HN_SexCD                     515439 non-null  float64
 62  HN_HinsyuCD                  515439 non-null  float64
 63  HN_KeiroCD                   515439 non-null  float64
 64  HN_HansyokuMochiKubun        515439 non-null  float64
 65  HN_HansyokuFNum              515439 non-null  float64
 66  HN_HansyokuMNum              515439 non-null  float64
 67  KS_SexCD                     515439 non-null  float64
 68  KS_SikakuCD                  515439 non-null  float64
 69  KS_MinaraiCD                 515439 non-null  float64
 70  KS_TozaiCD                   515439 non-null  float64
 71  KS_Syotai                    515439 non-null  object
 72  KS_ChokyosiCode              515439 non-null  float64
 73  CH_SexCD                     515439 non-null  int64
 74  CH_TozaiCD                   515439 non-null  int64
 75  CH_Syotai                    515439 non-null  object
dtypes: float64(28), int64(41), object(7)
memory usage: 298.9+ MB

In [25]:
# Tạo dữ liệu những cuộc đua bình thường với 
normal_race_df = UM_HN_SE_KS_CH_RA_df[UM_HN_SE_KS_CH_RA_df['RaceInfo$TokuNum']==0]
normal_race_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,race_id,Year,Month,RaceInfo$TokuNum,...,HN_HansyokuMNum,KS_SexCD,KS_SikakuCD,KS_MinaraiCD,KS_TozaiCD,KS_Syotai,KS_ChokyosiCode,CH_SexCD,CH_TozaiCD,CH_Syotai
0,2008,105,6,1,1,1,1,2008,1,0,...,12415752.0,1.0,2.0,0.0,1.0,,0.0,1,1,
1,2008,105,6,1,1,1,1,2008,1,0,...,12226430.0,1.0,1.0,0.0,1.0,,0.0,1,1,
2,2008,105,6,1,1,1,1,2008,1,0,...,12415529.0,1.0,2.0,0.0,1.0,,0.0,1,1,
3,2008,105,6,1,1,1,1,2008,1,0,...,12418096.0,1.0,2.0,0.0,1.0,,0.0,1,1,
4,2008,105,6,1,1,1,1,2008,1,0,...,12414256.0,1.0,2.0,0.0,1.0,,0.0,1,1,
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
515538,2018,520,8,3,10,12,35925,2018,5,0,...,12236137.0,1.0,2.0,0.0,2.0,,0.0,1,2,
515539,2018,520,8,3,10,12,35925,2018,5,0,...,12417427.0,1.0,2.0,0.0,2.0,,0.0,1,2,
515540,2018,520,8,3,10,12,35925,2018,5,0,...,12237259.0,1.0,1.0,3.0,2.0,,1009.0,1,2,
515541,2018,520,8,3,10,12,35925,2018,5,0,...,12412764.0,1.0,1.0,0.0,2.0,,411.0,1,2,
515542,2018,520,8,3,10,12,35925,2018,5,0,...,12240225.0,1.0,2.0,0.0,2.0,,0.0,1,2,

In [26]:
# Ghi dữ liệu
normal_race_df.to_csv('normal_original_data.csv', index=False)

In [27]:
# Check
check_df = pd.read_csv('normal_original_data.csv')
check_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494341 entries, 0 to 494340
Data columns (total 76 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   id$Year                      494341 non-null  int64
 1   id$MonthDay                  494341 non-null  int64
 2   id$JyoCD                     494341 non-null  int64
 3   id$Kaiji                     494341 non-null  int64
 4   id$Nichiji                   494341 non-null  int64
 5   id$RaceNum                   494341 non-null  int64
 6   race_id                      494341 non-null  int64
 7   Year                         494341 non-null  int64
 8   Month                        494341 non-null  int64
 9   RaceInfo$TokuNum             494341 non-null  int64
 10  RaceInfo$Nkai                494341 non-null  int64
 11  GradeCD                      494341 non-null  object
 12  JyokenInfo$SyubetuCD         494341 non-null  int64
 13  JyokenInfo$KigoCD            494341 non-null  object
 14  JyokenInfo$JyuryoCD          494341 non-null  int64
 15  Kyori                        494341 non-null  int64
 16  TrackCD                      494341 non-null  int64
 17  TenkoBaba$TenkoCD            494341 non-null  int64
 18  TenkoBaba$SibaBabaCD         494341 non-null  int64
 19  TenkoBaba$DirtBabaCD         494341 non-null  int64
 20  Honsyokin                    494341 non-null  int64
 21  Fukasyokin                   494341 non-null  int64
 22  Umaban                       494341 non-null  int64
 23  KettoNum                     494341 non-null  int64
 24  UmaKigoCD                    494341 non-null  int64
 25  SexCD                        494341 non-null  int64
 26  HinsyuCD                     494341 non-null  int64
 27  KeiroCD                      494341 non-null  int64
 28  Barei                        494341 non-null  int64
 29  TozaiCD                      494341 non-null  int64
 30  ChokyosiCode                 494341 non-null  int64
 31  BanusiCode                   494341 non-null  int64
 32  Futan                        494341 non-null  int64
 33  KisyuCode                    494341 non-null  int64
 34  MinaraiCD                    494341 non-null  int64
 35  BaTaijyu                     494341 non-null  float64
 36  ZogenSa                      494341 non-null  int64
 37  IJyoCD                       494341 non-null  int64
 38  KakuteiJyuni                 494341 non-null  int64
 39  Time                         494341 non-null  int64
 40  Odds                         494341 non-null  int64
 41  TimeDiff                     494341 non-null  int64
 42  UM_Bamei                     494341 non-null  object
 43  UM_ZaikyuFlag                494341 non-null  float64
 44  UM_SexCD                     494341 non-null  float64
 45  UM_HinsyuCD                  494341 non-null  float64
 46  UM_KeiroCD                   494341 non-null  float64
 47  UM_Ketto3Info$1$HansyokuNum  494341 non-null  float64
 48  UM_Ketto3Info$1$Bamei        494341 non-null  object
 49  UM_TozaiCD                   494341 non-null  float64
 50  UM_ChokyosiCode              494341 non-null  float64
 51  UM_BreederCode               494341 non-null  float64
 52  UM_BanusiCode                494341 non-null  float64
 53  UM_RuikeiHonsyoHeiti         494341 non-null  float64
 54  UM_RuikeiHonsyoSyogai        494341 non-null  float64
 55  UM_RuikeiFukaHeichi          494341 non-null  float64
 56  UM_RuikeiFukaSyogai          494341 non-null  float64
 57  UM_RuikeiSyutokuHeichi       494341 non-null  float64
 58  UM_RuikeiSyutokuSyogai       494341 non-null  float64
 59  HansyokuNum                  494341 non-null  float64
 60  HN_Bamei                     494341 non-null  object
 61  HN_SexCD                     494341 non-null  float64
 62  HN_HinsyuCD                  494341 non-null  float64
 63  HN_KeiroCD                   494341 non-null  float64
 64  HN_HansyokuMochiKubun        494341 non-null  float64
 65  HN_HansyokuFNum              494341 non-null  float64
 66  HN_HansyokuMNum              494341 non-null  float64
 67  KS_SexCD                     494341 non-null  float64
 68  KS_SikakuCD                  494341 non-null  float64
 69  KS_MinaraiCD                 494341 non-null  float64
 70  KS_TozaiCD                   494341 non-null  float64
 71  KS_Syotai                    494341 non-null  object
 72  KS_ChokyosiCode              494341 non-null  float64
 73  CH_SexCD                     494341 non-null  int64
 74  CH_TozaiCD                   494341 non-null  int64
 75  CH_Syotai                    494341 non-null  object
dtypes: float64(28), int64(41), object(7)
memory usage: 286.6+ MB