## Lấy dữ liệu tại bảng SE

In [1]:
from collections import Counter
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

- Get data path

In [2]:
import os.path as path
data_path =  path.abspath(path.join('' ,"../../data/historical_data"))
data_path = data_path + '\\SE.pickle.gz'
data_path

'D:\\Funix_FPT\\DataScience\\Final_Project\\DSP305x_Full Project_trilhFX04825@funix.edu.vn\\data\\historical_data\\SE.pickle.gz'

In [3]:
import pandas as pd
SE_df = pd.read_pickle(data_path)
SE_df

,filename,line_no,head$RecordSpec,head$DataKubun,head$MakeDate$Year,head$MakeDate$Month,head$MakeDate$Day,id$Year,id$MonthDay,id$JyoCD,...,ChakuUmaInfo$3$Bamei,TimeDiff,RecordUpKubun,DMKubun,DMTime,DMGosaP,DMGosaM,DMJyuni,KyakusituKubun,crlf
1554625,SEVM2008019920171102153925.json,1,SE,7,2008,1,7,2008,105,6,...,,13,0,3,11578,0,0,9,2,\r\n
1554626,SEVM2008019920171102153925.json,2,SE,7,2008,1,7,2008,105,6,...,,0,0,3,11576,4,4,8,1,\r\n
1554627,SEVM2008019920171102153925.json,3,SE,7,2008,1,7,2008,105,6,...,,3,0,3,11544,4,4,2,3,\r\n
1554628,SEVM2008019920171102153925.json,4,SE,7,2008,1,7,2008,105,6,...,,10,0,3,11660,7,23,15,4,\r\n
1554629,SEVM2008019920171102153925.json,5,SE,7,2008,1,7,2008,105,6,...,,0,0,3,11561,0,0,6,3,\r\n
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635074,SESW2018070120180702132430.json,486,SE,7,2018,7,2,2018,701,7,...,,17,0,3,20137,0,0,10,4,\r\n
635075,SESW2018070120180702132430.json,487,SE,7,2018,7,2,2018,701,7,...,,17,0,3,20185,69,99,12,4,\r\n
635076,SESW2018070120180702132430.json,488,SE,7,2018,7,2,2018,701,7,...,,8,0,3,20040,0,0,5,2,\r\n
635077,SESW2018070120180702132430.json,489,SE,7,2018,7,2,2018,701,7,...,,15,0,3,20274,0,0,15,4,\r\n
635078,SESW2018070120180702132430.json,490,SE,7,2018,7,2,2018,701,7,...,,33,0,3,20186,69,99,13,4,\r\n

### 1. Kiểm tra dữ liệu

In [4]:
SE_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 525663 entries, 1554625 to 635078
Data columns (total 78 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   filename                 525663 non-null  object
 1   line_no                  525663 non-null  int64
 2   head$RecordSpec          525663 non-null  object
 3   head$DataKubun           525663 non-null  object
 4   head$MakeDate$Year       525663 non-null  int64
 5   head$MakeDate$Month      525663 non-null  int64
 6   head$MakeDate$Day        525663 non-null  int64
 7   id$Year                  525663 non-null  int64
 8   id$MonthDay              525663 non-null  int64
 9   id$JyoCD                 525663 non-null  object
 10  id$Kaiji                 525663 non-null  int64
 11  id$Nichiji               525663 non-null  int64
 12  id$RaceNum               525663 non-null  int64
 13  Wakuban                  525663 non-null  int64
 14  Umaban                   525663 non-null  int64
 15  KettoNum                 525663 non-null  int64
 16  Bamei                    525663 non-null  object
 17  UmaKigoCD                525663 non-null  int64
 18  SexCD                    525663 non-null  int64
 19  HinsyuCD                 525663 non-null  int64
 20  KeiroCD                  525663 non-null  int64
 21  Barei                    525663 non-null  int64
 22  TozaiCD                  525663 non-null  int64
 23  ChokyosiCode             525663 non-null  int64
 24  ChokyosiRyakusyo         525663 non-null  object
 25  BanusiCode               525663 non-null  int64
 26  BanusiName               525663 non-null  object
 27  Fukusyoku                525663 non-null  object
 28  reserved1                525663 non-null  object
 29  Futan                    525663 non-null  int64
 30  FutanBefore              525663 non-null  int64
 31  Blinker                  525663 non-null  int64
 32  reserved2                525663 non-null  int64
 33  KisyuCode                525663 non-null  int64
 34  KisyuCodeBefore          525663 non-null  int64
 35  KisyuRyakusyo            525663 non-null  object
 36  KisyuRyakusyoBefore      525663 non-null  object
 37  MinaraiCD                525663 non-null  int64
 38  MinaraiCDBefore          525663 non-null  int64
 39  BaTaijyu                 525663 non-null  object
 40  ZogenFugo                525663 non-null  object
 41  ZogenSa                  525663 non-null  object
 42  IJyoCD                   525663 non-null  int64
 43  NyusenJyuni              525663 non-null  int64
 44  KakuteiJyuni             525663 non-null  int64
 45  DochakuKubun             525663 non-null  int64
 46  DochakuTosu              525663 non-null  int64
 47  Time                     525663 non-null  int64
 48  ChakusaCD                525663 non-null  object
 49  ChakusaCDP               525663 non-null  object
 50  ChakusaCDPP              525663 non-null  object
 51  Jyuni1c                  525663 non-null  int64
 52  Jyuni2c                  525663 non-null  int64
 53  Jyuni3c                  525663 non-null  int64
 54  Jyuni4c                  525663 non-null  int64
 55  Odds                     525663 non-null  int64
 56  Ninki                    525663 non-null  int64
 57  Honsyokin                525663 non-null  int64
 58  Fukasyokin               525663 non-null  int64
 59  reserved3                525663 non-null  int64
 60  reserved4                525663 non-null  int64
 61  HaronTimeL4              525663 non-null  int64
 62  HaronTimeL3              525663 non-null  int64
 63  ChakuUmaInfo$1$KettoNum  525663 non-null  int64
 64  ChakuUmaInfo$1$Bamei     525663 non-null  object
 65  ChakuUmaInfo$2$KettoNum  525663 non-null  int64
 66  ChakuUmaInfo$2$Bamei     525663 non-null  object
 67  ChakuUmaInfo$3$KettoNum  525663 non-null  int64
 68  ChakuUmaInfo$3$Bamei     525663 non-null  object
 69  TimeDiff                 525663 non-null  int64
 70  RecordUpKubun            525663 non-null  int64
 71  DMKubun                  525663 non-null  int64
 72  DMTime                   525663 non-null  int64
 73  DMGosaP                  525663 non-null  int64
 74  DMGosaM                  525663 non-null  int64
 75  DMJyuni                  525663 non-null  int64
 76  KyakusituKubun           525663 non-null  int64
 77  crlf                     525663 non-null  object
dtypes: int64(57), object(21)
memory usage: 316.8+ MB

In [5]:
# Select Columns
SE_selected_columns =  [
                        #Key
                        'id$Year',
                        'id$MonthDay',
                        'id$JyoCD',
                        'id$Kaiji',
                        'id$Nichiji',
                        'id$RaceNum',
                        #
                        'Umaban', 
                        'KettoNum',
                        'UmaKigoCD',
                        'SexCD',
                        'HinsyuCD',
                        'KeiroCD',
                        'Barei',
                        'TozaiCD',
                        'ChokyosiCode',
                        'BanusiCode',
                        'Futan',
                        'KisyuCode',
                        'MinaraiCD',
                        'BaTaijyu',
                        'ZogenFugo',
                        'ZogenSa',
                        'IJyoCD',
                        'KakuteiJyuni',
                        'Time',
                        'Odds',
                        'TimeDiff'
                       ]
SE_process_df = SE_df[SE_selected_columns]
SE_process_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,KisyuCode,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
1554625,2008,105,6,1,1,1,1,2005107051,0,2,...,1031,0,428,+,012,0,8,1152,298,13
1554626,2008,105,6,1,1,1,2,2005102028,0,2,...,733,0,450,-,010,0,1,1139,81,0
1554627,2008,105,6,1,1,1,3,2005104156,0,2,...,684,0,458,+,004,0,3,1142,82,3
1554628,2008,105,6,1,1,1,4,2005105319,0,2,...,672,0,402,-,010,0,6,1149,1173,10
1554629,2008,105,6,1,1,1,5,2005101044,0,2,...,663,0,482,+,002,0,2,1139,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635074,2018,701,7,3,2,12,11,2012104696,0,3,...,1160,1,486,-,006,0,13,2004,2462,17
635075,2018,701,7,3,2,12,12,2014103669,5,1,...,732,0,502,+,008,0,11,2004,642,17
635076,2018,701,7,3,2,12,13,2013102631,0,1,...,1157,0,464,-,006,0,5,1595,161,8
635077,2018,701,7,3,2,12,14,2014102088,0,1,...,1155,1,456,-,004,0,8,2002,6330,15
635078,2018,701,7,3,2,12,15,2014106395,0,1,...,1122,0,520,-,002,0,14,2020,2876,33

In [6]:
# Kiểm tra thông tin dữ liệu các cột
SE_process_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 525663 entries, 1554625 to 635078
Data columns (total 27 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id$Year       525663 non-null  int64
 1   id$MonthDay   525663 non-null  int64
 2   id$JyoCD      525663 non-null  object
 3   id$Kaiji      525663 non-null  int64
 4   id$Nichiji    525663 non-null  int64
 5   id$RaceNum    525663 non-null  int64
 6   Umaban        525663 non-null  int64
 7   KettoNum      525663 non-null  int64
 8   UmaKigoCD     525663 non-null  int64
 9   SexCD         525663 non-null  int64
 10  HinsyuCD      525663 non-null  int64
 11  KeiroCD       525663 non-null  int64
 12  Barei         525663 non-null  int64
 13  TozaiCD       525663 non-null  int64
 14  ChokyosiCode  525663 non-null  int64
 15  BanusiCode    525663 non-null  int64
 16  Futan         525663 non-null  int64
 17  KisyuCode     525663 non-null  int64
 18  MinaraiCD     525663 non-null  int64
 19  BaTaijyu      525663 non-null  object
 20  ZogenFugo     525663 non-null  object
 21  ZogenSa       525663 non-null  object
 22  IJyoCD        525663 non-null  int64
 23  KakuteiJyuni  525663 non-null  int64
 24  Time          525663 non-null  int64
 25  Odds          525663 non-null  int64
 26  TimeDiff      525663 non-null  int64
dtypes: int64(23), object(4)
memory usage: 112.3+ MB

In [7]:
# Convert column id$JyoCD to int
SE_process_df['id$JyoCD'] = SE_process_df['id$JyoCD'].astype('int64')
SE_process_df['id$JyoCD'].unique()

array([ 6,  8, 10,  5,  7,  9,  3,  4,  2,  1], dtype=int64)

- Kiểm tra các khóa chính ['id$Year', 'id$MonthDay', 'id$JyoCD', 'id$Kaiji', 'id$Nichiji', 'id$RaceNum', 'KettoNum']

In [8]:
id_columns = ['id$Year', 'id$MonthDay', 'id$JyoCD', 'id$Kaiji', 'id$Nichiji', 'id$RaceNum', 'KettoNum']
check = SE_process_df.groupby(id_columns, as_index=False)[['Umaban']].count().rename(columns={'Umaban': 'count'})
check[check['count']>=2]

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,KettoNum,count
259357,2013,309,6,2,5,6,2010104999,2
274090,2013,622,5,3,7,3,2010104999,2
302342,2014,118,7,1,1,10,2011101948,2
303425,2014,125,7,1,3,10,2011100689,2
308613,2014,302,6,2,2,6,2011101948,2
...,...,...,...,...,...,...,...,...
524222,2018,630,2,1,5,3,2015103761,2
524522,2018,630,7,3,1,1,2015102626,2
524572,2018,630,7,3,1,5,2016102156,2
524717,2018,701,2,1,6,3,2015103609,2
524954,2018,701,3,2,2,9,2014103367,2

- <span style="color:blue">Nhận xét:
    - Có rất nhiều mã code bị trùng lặp, ta chỉ giữ lại record đầu tiên

In [9]:
SE_process_df.drop_duplicates(subset=id_columns, keep='first', inplace=True)
SE_process_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,KisyuCode,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
1554625,2008,105,6,1,1,1,1,2005107051,0,2,...,1031,0,428,+,012,0,8,1152,298,13
1554626,2008,105,6,1,1,1,2,2005102028,0,2,...,733,0,450,-,010,0,1,1139,81,0
1554627,2008,105,6,1,1,1,3,2005104156,0,2,...,684,0,458,+,004,0,3,1142,82,3
1554628,2008,105,6,1,1,1,4,2005105319,0,2,...,672,0,402,-,010,0,6,1149,1173,10
1554629,2008,105,6,1,1,1,5,2005101044,0,2,...,663,0,482,+,002,0,2,1139,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635074,2018,701,7,3,2,12,11,2012104696,0,3,...,1160,1,486,-,006,0,13,2004,2462,17
635075,2018,701,7,3,2,12,12,2014103669,5,1,...,732,0,502,+,008,0,11,2004,642,17
635076,2018,701,7,3,2,12,13,2013102631,0,1,...,1157,0,464,-,006,0,5,1595,161,8
635077,2018,701,7,3,2,12,14,2014102088,0,1,...,1155,1,456,-,004,0,8,2002,6330,15
635078,2018,701,7,3,2,12,15,2014106395,0,1,...,1122,0,520,-,002,0,14,2020,2876,33

In [10]:
# Convert Bataijyu
SE_process_df['BaTaijyu'] = SE_process_df['BaTaijyu'].astype('float64')

In [11]:
SE_process_df[SE_process_df['BaTaijyu']==0]

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,KisyuCode,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
1554849,2008,105,8,1,1,3,1,2005105574,0,2,...,718,0,0.0,,,1,0,0,0,9999
1554703,2008,105,6,1,1,5,15,2005101110,0,1,...,1031,0,0.0,,,1,0,0,0,9999
1554753,2008,105,6,1,1,9,1,2005100015,5,2,...,699,0,0.0,,,1,0,0,0,9999
1554970,2008,105,8,1,1,10,10,2000104348,5,1,...,1101,0,0.0,,,1,0,0,0,9999
1555574,2008,112,8,1,3,1,9,2005104765,0,2,...,1014,0,0.0,,,1,0,0,0,9999
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1224274,2018,527,8,3,12,11,4,2015104862,0,1,...,1018,0,0.0,,,1,0,0,0,9999
712778,2018,603,9,3,2,5,11,2016100979,0,2,...,732,0,0.0,,,1,0,0,0,9999
1706828,2018,609,9,3,3,9,14,2013104563,0,1,...,1015,0,0.0,,,1,0,0,0,9999
219830,2018,617,5,3,6,10,9,2015100451,0,1,...,1009,0,0.0,,,1,0,0,0,9999
634941,2018,701,7,3,2,3,10,2015105060,0,1,...,1154,0,0.0,,,1,0,0,0,9999

In [12]:
# Loại đi BaTaijyu = 0 vì ko dc xuất phát
SE_process_df = SE_process_df[SE_process_df['BaTaijyu']!=0]
SE_process_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,KisyuCode,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
1554625,2008,105,6,1,1,1,1,2005107051,0,2,...,1031,0,428.0,+,012,0,8,1152,298,13
1554626,2008,105,6,1,1,1,2,2005102028,0,2,...,733,0,450.0,-,010,0,1,1139,81,0
1554627,2008,105,6,1,1,1,3,2005104156,0,2,...,684,0,458.0,+,004,0,3,1142,82,3
1554628,2008,105,6,1,1,1,4,2005105319,0,2,...,672,0,402.0,-,010,0,6,1149,1173,10
1554629,2008,105,6,1,1,1,5,2005101044,0,2,...,663,0,482.0,+,002,0,2,1139,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635074,2018,701,7,3,2,12,11,2012104696,0,3,...,1160,1,486.0,-,006,0,13,2004,2462,17
635075,2018,701,7,3,2,12,12,2014103669,5,1,...,732,0,502.0,+,008,0,11,2004,642,17
635076,2018,701,7,3,2,12,13,2013102631,0,1,...,1157,0,464.0,-,006,0,5,1595,161,8
635077,2018,701,7,3,2,12,14,2014102088,0,1,...,1155,1,456.0,-,004,0,8,2002,6330,15
635078,2018,701,7,3,2,12,15,2014106395,0,1,...,1122,0,520.0,-,002,0,14,2020,2876,33

In [13]:
# Loại đi các trường hợp KakuteiJyuni == 0
SE_process_df = SE_process_df[SE_process_df['KakuteiJyuni']!=0]
SE_process_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,KisyuCode,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
1554625,2008,105,6,1,1,1,1,2005107051,0,2,...,1031,0,428.0,+,012,0,8,1152,298,13
1554626,2008,105,6,1,1,1,2,2005102028,0,2,...,733,0,450.0,-,010,0,1,1139,81,0
1554627,2008,105,6,1,1,1,3,2005104156,0,2,...,684,0,458.0,+,004,0,3,1142,82,3
1554628,2008,105,6,1,1,1,4,2005105319,0,2,...,672,0,402.0,-,010,0,6,1149,1173,10
1554629,2008,105,6,1,1,1,5,2005101044,0,2,...,663,0,482.0,+,002,0,2,1139,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635074,2018,701,7,3,2,12,11,2012104696,0,3,...,1160,1,486.0,-,006,0,13,2004,2462,17
635075,2018,701,7,3,2,12,12,2014103669,5,1,...,732,0,502.0,+,008,0,11,2004,642,17
635076,2018,701,7,3,2,12,13,2013102631,0,1,...,1157,0,464.0,-,006,0,5,1595,161,8
635077,2018,701,7,3,2,12,14,2014102088,0,1,...,1155,1,456.0,-,004,0,8,2002,6330,15
635078,2018,701,7,3,2,12,15,2014106395,0,1,...,1122,0,520.0,-,002,0,14,2020,2876,33

In [14]:
# Kiểm tra ZogenSa'=='   '
SE_process_df[SE_process_df['ZogenSa']=='    ']

Empty DataFrame
Columns: [id$Year, id$MonthDay, id$JyoCD, id$Kaiji, id$Nichiji, id$RaceNum, Umaban, KettoNum, UmaKigoCD, SexCD, HinsyuCD, KeiroCD, Barei, TozaiCD, ChokyosiCode, BanusiCode, Futan, KisyuCode, MinaraiCD, BaTaijyu, ZogenFugo, ZogenSa, IJyoCD, KakuteiJyuni, Time, Odds, TimeDiff]
Index: []

[0 rows x 27 columns]

In [15]:
# Convert 
condition = (SE_process_df['ZogenSa']!='   ')
SE_process_df['New_ZogenSa'] = ''
SE_process_df.loc[condition, 'New_ZogenSa'] = SE_process_df.loc[condition, 'ZogenSa'].astype('int64')
SE_process_df.loc[SE_process_df['ZogenFugo']=='-', 'New_ZogenSa'] = -1 * SE_process_df['New_ZogenSa']
SE_process_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff,New_ZogenSa
1554625,2008,105,6,1,1,1,1,2005107051,0,2,...,0,428.0,+,012,0,8,1152,298,13,12
1554626,2008,105,6,1,1,1,2,2005102028,0,2,...,0,450.0,-,010,0,1,1139,81,0,-10
1554627,2008,105,6,1,1,1,3,2005104156,0,2,...,0,458.0,+,004,0,3,1142,82,3,4
1554628,2008,105,6,1,1,1,4,2005105319,0,2,...,0,402.0,-,010,0,6,1149,1173,10,-10
1554629,2008,105,6,1,1,1,5,2005101044,0,2,...,0,482.0,+,002,0,2,1139,134,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635074,2018,701,7,3,2,12,11,2012104696,0,3,...,1,486.0,-,006,0,13,2004,2462,17,-6
635075,2018,701,7,3,2,12,12,2014103669,5,1,...,0,502.0,+,008,0,11,2004,642,17,8
635076,2018,701,7,3,2,12,13,2013102631,0,1,...,0,464.0,-,006,0,5,1595,161,8,-6
635077,2018,701,7,3,2,12,14,2014102088,0,1,...,1,456.0,-,004,0,8,2002,6330,15,-4
635078,2018,701,7,3,2,12,15,2014106395,0,1,...,0,520.0,-,002,0,14,2020,2876,33,-2

In [16]:
condition = SE_process_df['KettoNum'] == 2012101877
Counter(SE_process_df[SE_process_df['New_ZogenSa']=='']['KettoNum']).most_common()

[(2005103421, 1),
 (2005102670, 1),
 (2005101452, 1),
 (2005102371, 1),
 (2005101653, 1),
 (2005102310, 1),
 (2005105826, 1),
 (2005104486, 1),
 (2005104552, 1),
 (2005103494, 1),
 (2005100481, 1),
 (2005100641, 1),
 (2005104299, 1),
 (2005100343, 1),
 (2005103113, 1),
 (2005102166, 1),
 (2005101839, 1),
 (2005110175, 1),
 (2005102961, 1),
 (2005106521, 1),
 (2005100679, 1),
 (2005102582, 1),
 (2005105984, 1),
 (2005105768, 1),
 (2005102621, 1),
 (2005103100, 1),
 (2005105394, 1),
 (2005106507, 1),
 (2005105057, 1),
 (2005100800, 1),
 (2005101155, 1),
 (2005102113, 1),
 (2005109003, 1),
 (2005106467, 1),
 (2005101181, 1),
 (2005101556, 1),
 (2005106713, 1),
 (2005104112, 1),
 (2005106459, 1),
 (2005106783, 1),
 (2005100638, 1),
 (2005106569, 1),
 (2005101320, 1),
 (2005104067, 1),
 (2005100561, 1),
 (2005102320, 1),
 (2005106300, 1),
 (2005106990, 1),
 (2005103143, 1),
 (2005105204, 1),
 (2005102089, 1),
 (2005106754, 1),
 (2005106416, 1),
 (2005105944, 1),
 (2005106463, 1),
 (2005100307, 1),
 (2005106388, 1),
 (2005102437, 1),
 (2005102793, 1),
 (2005102668, 1),
 (2005106265, 1),
 (2005101222, 1),
 (2005102359, 1),
 (2005101842, 1),
 (2005107041, 1),
 (2005104696, 1),
 (2005105737, 1),
 (2005102088, 1),
 (2005103544, 1),
 (2005101241, 1),
 (2005103038, 1),
 (2005106356, 1),
 (2005101429, 1),
 (2005100660, 1),
 (2005102925, 1),
 (2005106035, 1),
 (2005104812, 1),
 (2005102867, 1),
 (2005102683, 1),
 (2005100932, 1),
 (2005105234, 1),
 (2005105893, 1),
 (2005103890, 1),
 (2005103796, 1),
 (2005103771, 1),
 (2005103850, 1),
 (2005105092, 1),
 (2005106368, 1),
 (2005104880, 1),
 (2005105227, 1),
 (2005101884, 1),
 (2005101361, 1),
 (2005100162, 1),
 (2005104221, 1),
 (2005105554, 1),
 (2005105388, 1),
 (2005100493, 1),
 (2005106294, 1),
 (2005103644, 1),
 (2005109181, 1),
 (2005110173, 1),
 (2005101451, 1),
 (2005110154, 1),
 (2005102983, 1),
 (2005100508, 1),
 (2005106144, 1),
 (2005104237, 1),
 (2005105442, 1),
 (2005104495, 1),
 (2005100233, 1),
 (2005100937, 1),
 (2005101795, 1),
 (2005105209, 1),
 (2005103587, 1),
 (2005102772, 1),
 (2005101790, 1),
 (2005106182, 1),
 (2005103304, 1),
 (2005106266, 1),
 (2005105295, 1),
 (2005103456, 1),
 (2005104872, 1),
 (2005103889, 1),
 (2005100600, 1),
 (2005103873, 1),
 (2005109302, 1),
 (2005103999, 1),
 (2005106624, 1),
 (2005106765, 1),
 (2005103459, 1),
 (2005101885, 1),
 (2005103403, 1),
 (2005105906, 1),
 (2005103754, 1),
 (2005101973, 1),
 (2005100313, 1),
 (2005100576, 1),
 (2005103156, 1),
 (2005104352, 1),
 (2005106120, 1),
 (2005100604, 1),
 (2005106106, 1),
 (2005103386, 1),
 (2005109251, 1),
 (2005106442, 1),
 (2005103521, 1),
 (2005106355, 1),
 (2005101911, 1),
 (2005102169, 1),
 (2005102292, 1),
 (2005106579, 1),
 (2005103179, 1),
 (2005101679, 1),
 (2005103230, 1),
 (2005102875, 1),
 (2005103974, 1),
 (2005104978, 1),
 (2005102713, 1),
 (2005101400, 1),
 (2005103477, 1),
 (2005106760, 1),
 (2005106162, 1),
 (2005102112, 1),
 (2005110022, 1),
 (2005100590, 1),
 (2005102247, 1),
 (2005105400, 1),
 (2005104818, 1),
 (2005101629, 1),
 (2005102633, 1),
 (2005105437, 1),
 (2005101073, 1),
 (2005102765, 1),
 (2005105111, 1),
 (2005100314, 1),
 (2005103457, 1),
 (2005106447, 1),
 (2005100648, 1),
 (2005103234, 1),
 (2005102755, 1),
 (2005106002, 1),
 (2005102583, 1),
 (2005106682, 1),
 (2005103840, 1),
 (2005104496, 1),
 (2005102506, 1),
 (2005106638, 1),
 (2005104116, 1),
 (2005103851, 1),
 (2005103222, 1),
 (2005102062, 1),
 (2005101188, 1),
 (2005103133, 1),
 (2005105733, 1),
 (2005102496, 1),
 (2005104485, 1),
 (2005102459, 1),
 (2005102579, 1),
 (2005104938, 1),
 (2005100169, 1),
 (2005103543, 1),
 (2005100367, 1),
 (2005105842, 1),
 (2005106511, 1),
 (2005102934, 1),
 (2005102049, 1),
 (2005106897, 1),
 (2005110006, 1),
 (2005102924, 1),
 (2005105369, 1),
 (2005106465, 1),
 (2005101317, 1),
 (2005106878, 1),
 (2005110181, 1),
 (2005105646, 1),
 (2005104668, 1),
 (2005103327, 1),
 (2005101865, 1),
 (2005100197, 1),
 (2005103374, 1),
 (2005100593, 1),
 (2005106018, 1),
 (2005102356, 1),
 (2005106333, 1),
 (2005103741, 1),
 (2005103268, 1),
 (2005106136, 1),
 (2005106862, 1),
 (2005100036, 1),
 (2005106246, 1),
 (2005104146, 1),
 (2005104371, 1),
 (2005109295, 1),
 (2005104288, 1),
 (2004104189, 1),
 (2005105238, 1),
 (2005103270, 1),
 (2005105569, 1),
 (2005100919, 1),
 (2005102059, 1),
 (2005110125, 1),
 (2005101510, 1),
 (2005105897, 1),
 (2005104809, 1),
 (2005104271, 1),
 (2005104851, 1),
 (2005100544, 1),
 (2005105141, 1),
 (2005101604, 1),
 (2005104142, 1),
 (2005106769, 1),
 (2005106228, 1),
 (2005107002, 1),
 (2005103204, 1),
 (2005109305, 1),
 (2005105548, 1),
 (2005105422, 1),
 (2005100333, 1),
 (2005103793, 1),
 (2005104224, 1),
 (2005103137, 1),
 (2005106213, 1),
 (2005105918, 1),
 (2005102256, 1),
 (2005105903, 1),
 (2005102628, 1),
 (2005104509, 1),
 (2005104958, 1),
 (2005107084, 1),
 (2005106949, 1),
 (2005106518, 1),
 (2005101789, 1),
 (2005109071, 1),
 (2005103903, 1),
 (2005100350, 1),
 (2005102944, 1),
 (2005105987, 1),
 (2005104318, 1),
 (2005103803, 1),
 (2005106441, 1),
 (2005109121, 1),
 (2005102360, 1),
 (2005101760, 1),
 (2005103986, 1),
 (2005102114, 1),
 (2005103412, 1),
 (2005101716, 1),
 (2005102408, 1),
 (2005101131, 1),
 (2005105583, 1),
 (2005105748, 1),
 (2005106717, 1),
 (2005100040, 1),
 (2005102595, 1),
 (2005102257, 1),
 (2005101637, 1),
 (2005104631, 1),
 (2005110003, 1),
 (2005100523, 1),
 (2005106253, 1),
 (2005101946, 1),
 (2005106165, 1),
 (2005110087, 1),
 (2005104799, 1),
 (2005101327, 1),
 (2005110161, 1),
 (2005106348, 1),
 (2005100839, 1),
 (2005104460, 1),
 (2005106585, 1),
 (2005109327, 1),
 (2005105171, 1),
 (2005101957, 1),
 (2005104395, 1),
 (2005100567, 1),
 (2005102073, 1),
 (2005106472, 1),
 (2005100633, 1),
 (2005103764, 1),
 (2005100236, 1),
 (2005100547, 1),
 (2005101959, 1),
 (2005103189, 1),
 (2005102403, 1),
 (2005104833, 1),
 (2005101764, 1),
 (2005104608, 1),
 (2005102265, 1),
 (2005102222, 1),
 (2005102127, 1),
 (2005101766, 1),
 (2005102399, 1),
 (2005101325, 1),
 (2005106033, 1),
 (2005106319, 1),
 (2005102603, 1),
 (2005104706, 1),
 (2005102051, 1),
 (2005101522, 1),
 (2005105132, 1),
 (2005101309, 1),
 (2005105364, 1),
 (2005100928, 1),
 (2005101936, 1),
 (2005103597, 1),
 (2005110009, 1),
 (2005103526, 1),
 (2005107085, 1),
 (2005105078, 1),
 (2005102200, 1),
 (2005106546, 1),
 (2005104075, 1),
 (2005106858, 1),
 (2005101948, 1),
 (2005100338, 1),
 (2005105513, 1),
 (2005102425, 1),
 (2005102542, 1),
 (2005100103, 1),
 (2005103961, 1),
 (2005104196, 1),
 (2005102620, 1),
 (2005105560, 1),
 (2005109303, 1),
 (2005102627, 1),
 (2005104260, 1),
 (2005102883, 1),
 (2005104073, 1),
 (2005100780, 1),
 (2005102462, 1),
 (2005110143, 1),
 (2005105359, 1),
 (2005106891, 1),
 (2005102536, 1),
 (2005105922, 1),
 (2005102574, 1),
 (2005102301, 1),
 (2005102061, 1),
 (2005104665, 1),
 (2005100364, 1),
 (2005110121, 1),
 (2005106457, 1),
 (2005109202, 1),
 (2005106653, 1),
 (2005100195, 1),
 (2005106264, 1),
 (2005101771, 1),
 (2005101056, 1),
 (2005106344, 1),
 (2005109058, 1),
 (2005104363, 1),
 (2005106053, 1),
 (2005101055, 1),
 (2005102421, 1),
 (2005100369, 1),
 (2005105949, 1),
 (2005106304, 1),
 (2005105703, 1),
 (2005100882, 1),
 (2005105079, 1),
 (2005102237, 1),
 (2005106902, 1),
 (2005102294, 1),
 (2005110178, 1),
 (2005102203, 1),
 (2005103443, 1),
 (2005103166, 1),
 (2005110105, 1),
 (2005102413, 1),
 (2005110185, 1),
 (2005110113, 1),
 (2005100554, 1),
 (2005109300, 1),
 (2005104134, 1),
 (2005104245, 1),
 (2005101814, 1),
 (2005109153, 1),
 (2005103196, 1),
 (2005103605, 1),
 (2005101745, 1),
 (2005100655, 1),
 (2005100390, 1),
 (2005101812, 1),
 (2005104707, 1),
 (2005110138, 1),
 (2005102617, 1),
 (2005103800, 1),
 (2005102798, 1),
 (2005102547, 1),
 (2005105091, 1),
 (2005105361, 1),
 (2005104734, 1),
 (2005105866, 1),
 (2005103147, 1),
 (2005110137, 1),
 (2005101026, 1),
 (2005105812, 1),
 (2005110049, 1),
 (2005102344, 1),
 (2005106499, 1),
 (2005106059, 1),
 (2005104155, 1),
 (2005104806, 1),
 (2005105326, 1),
 (2005103966, 1),
 (2005105280, 1),
 (2005100642, 1),
 (2005104763, 1),
 (2005102602, 1),
 (2005102688, 1),
 (2005105679, 1),
 (2005100124, 1),
 (2005102140, 1),
 (2005105134, 1),
 (2005110219, 1),
 (2005102852, 1),
 (2005106242, 1),
 (2005104575, 1),
 (2005100645, 1),
 (2005105739, 1),
 (2005100318, 1),
 (2005100714, 1),
 (2005106616, 1),
 (2005101831, 1),
 (2005101916, 1),
 (2005100681, 1),
 (2005106244, 1),
 (2005105877, 1),
 (2005102048, 1),
 (2005100373, 1),
 (2005103216, 1),
 (2005103452, 1),
 (2005103198, 1),
 (2005101933, 1),
 (2005101773, 1),
 (2005101278, 1),
 (2005100789, 1),
 (2005100204, 1),
 (2005106321, 1),
 (2005106660, 1),
 (2005101549, 1),
 (2005104565, 1),
 (2005109161, 1),
 (2005103925, 1),
 (2005100286, 1),
 (2005101006, 1),
 (2005110090, 1),
 (2005106095, 1),
 (2005106798, 1),
 (2005105108, 1),
 (2005100285, 1),
 (2005106846, 1),
 (2005101076, 1),
 (2005107054, 1),
 (2005110071, 1),
 (2005104916, 1),
 (2005103981, 1),
 (2005103180, 1),
 (2005105551, 1),
 (2005104993, 1),
 (2005110088, 1),
 (2005100330, 1),
 (2005101239, 1),
 (2005101063, 1),
 (2005103550, 1),
 (2005100395, 1),
 (2005104988, 1),
 (2005100468, 1),
 (2005102108, 1),
 (2005101292, 1),
 (2005102210, 1),
 (2005106572, 1),
 (2005102176, 1),
 (2005102873, 1),
 (2005106758, 1),
 (2005106400, 1),
 (2005102119, 1),
 (2005104183, 1),
 (2005102390, 1),
 (2005103511, 1),
 (2005100299, 1),
 (2005103537, 1),
 (2005100279, 1),
 (2005102568, 1),
 (2005105384, 1),
 (2005104998, 1),
 (2005102454, 1),
 (2005106350, 1),
 (2005100630, 1),
 (2005102096, 1),
 (2005103952, 1),
 (2005101912, 1),
 (2005100139, 1),
 (2005100416, 1),
 (2005103394, 1),
 (2005105073, 1),
 (2005100310, 1),
 (2005105439, 1),
 (2005106198, 1),
 (2005102087, 1),
 (2005105827, 1),
 (2005100132, 1),
 (2005100376, 1),
 (2005104370, 1),
 (2005104784, 1),
 (2005104713, 1),
 (2005109248, 1),
 (2005102084, 1),
 (2005106538, 1),
 (2005101022, 1),
 (2005101406, 1),
 (2005104487, 1),
 (2005100520, 1),
 (2005102147, 1),
 (2005104679, 1),
 (2005106620, 1),
 (2005101475, 1),
 (2005101822, 1),
 (2005101043, 1),
 (2005101000, 1),
 (2005100392, 1),
 (2005103247, 1),
 (2005100620, 1),
 (2005106378, 1),
 (2005104764, 1),
 (2005106479, 1),
 (2005103290, 1),
 (2005105921, 1),
 (2005106312, 1),
 (2005101616, 1),
 (2005104225, 1),
 (2005101114, 1),
 (2005100626, 1),
 (2005104151, 1),
 (2005104369, 1),
 (2005100149, 1),
 (2005106379, 1),
 (2005109142, 1),
 (2005101388, 1),
 (2005101335, 1),
 (2005104194, 1),
 (2005102885, 1),
 (2005105185, 1),
 (2005102056, 1),
 (2005109066, 1),
 (2005102374, 1),
 (2005105097, 1),
 (2005103074, 1),
 (2005106076, 1),
 (2005106932, 1),
 (2005101343, 1),
 (2005100100, 1),
 (2005102725, 1),
 (2005105265, 1),
 (2005100084, 1),
 (2005101541, 1),
 (2005103215, 1),
 (2005104072, 1),
 (2005100930, 1),
 (2005102623, 1),
 (2005101052, 1),
 (2005103167, 1),
 (2005103276, 1),
 (2005100485, 1),
 (2005104936, 1),
 (2005104441, 1),
 (2005110211, 1),
 (2005105770, 1),
 (2005110070, 1),
 (2005102640, 1),
 (2005104753, 1),
 (2005102246, 1),
 (2005101647, 1),
 (2005104785, 1),
 (2005100109, 1),
 (2005100043, 1),
 (2005102948, 1),
 (2005104636, 1),
 (2005100187, 1),
 (2005102235, 1),
 (2005101179, 1),
 (2005102422, 1),
 (2005102335, 1),
 (2005101082, 1),
 (2005106068, 1),
 (2005105224, 1),
 (2005103263, 1),
 (2005102615, 1),
 (2005100371, 1),
 (2005102266, 1),
 (2005110218, 1),
 (2005102263, 1),
 (2005100876, 1),
 (2005110156, 1),
 (2005106186, 1),
 (2005106103, 1),
 (2005100966, 1),
 (2005105089, 1),
 (2005110120, 1),
 (2005103676, 1),
 (2005110147, 1),
 (2005102730, 1),
 (2005105908, 1),
 (2005107029, 1),
 (2005102012, 1),
 (2005101498, 1),
 (2005102653, 1),
 (2005105396, 1),
 (2005100238, 1),
 (2005100948, 1),
 (2005100970, 1),
 (2005103335, 1),
 (2005101422, 1),
 (2005105366, 1),
 (2005104045, 1),
 (2005102813, 1),
 (2005109315, 1),
 (2005104309, 1),
 (2005104948, 1),
 (2005106169, 1),
 (2005103129, 1),
 (2005103683, 1),
 (2005101450, 1),
 (2005106640, 1),
 (2005105998, 1),
 (2005101316, 1),
 (2005109154, 1),
 (2005101628, 1),
 (2005102881, 1),
 (2005101838, 1),
 (2005102139, 1),
 (2005101356, 1),
 (2005106105, 1),
 (2005104947, 1),
 (2005101372, 1),
 (2005106414, 1),
 (2005102712, 1),
 (2005106952, 1),
 (2005110112, 1),
 (2005106385, 1),
 (2005100598, 1),
 (2005103835, 1),
 (2005100148, 1),
 (2005103282, 1),
 (2005110033, 1),
 (2005100920, 1),
 (2005101964, 1),
 (2005102811, 1),
 (2005110092, 1),
 (2005104493, 1),
 (2005102803, 1),
 (2005106806, 1),
 (2005110072, 1),
 (2005105786, 1),
 (2005100779, 1),
 (2005103940, 1),
 (2005104054, 1),
 (2005105335, 1),
 (2005100490, 1),
 (2005103158, 1),
 (2005100385, 1),
 (2005101756, 1),
 (2005102104, 1),
 (2005102424, 1),
 (2005102973, 1),
 (2005102923, 1),
 (2005101449, 1),
 (2005100048, 1),
 (2005101825, 1),
 (2005103892, 1),
 (2005100743, 1),
 (2005100193, 1),
 (2005102283, 1),
 (2005101007, 1),
 (2005103309, 1),
 (2005105604, 1),
 (2005105603, 1),
 (2005102891, 1),
 (2005105585, 1),
 (2005104966, 1),
 (2005102929, 1),
 (2005105511, 1),
 (2005110220, 1),
 (2005104063, 1),
 (2005104757, 1),
 (2005102427, 1),
 (2005101929, 1),
 (2005102677, 1),
 (2005110209, 1),
 (2005103792, 1),
 (2005101940, 1),
 (2005102120, 1),
 (2005100222, 1),
 (2005102911, 1),
 (2005103825, 1),
 (2005101433, 1),
 (2005103150, 1),
 (2005109205, 1),
 (2005106218, 1),
 (2005105438, 1),
 (2005102641, 1),
 (2005101598, 1),
 (2005102145, 1),
 (2005100835, 1),
 (2005101571, 1),
 (2005100170, 1),
 (2005100512, 1),
 (2005102208, 1),
 (2005101967, 1),
 (2005106723, 1),
 (2005100643, 1),
 (2005101245, 1),
 (2005103148, 1),
 (2005102686, 1),
 (2005103489, 1),
 (2005105665, 1),
 (2005103989, 1),
 (2005102135, 1),
 (2005104682, 1),
 (2005102201, 1),
 (2005100910, 1),
 (2005100210, 1),
 (2005104882, 1),
 (2005104961, 1),
 (2005105963, 1),
 (2005105158, 1),
 (2005101835, 1),
 (2005106324, 1),
 (2005104839, 1),
 (2005106576, 1),
 (2005102311, 1),
 (2005102552, 1),
 (2005102150, 1),
 (2005109188, 1),
 (2005102659, 1),
 (2005106701, 1),
 (2005105999, 1),
 (2005102217, 1),
 (2005102441, 1),
 (2005101896, 1),
 (2005105316, 1),
 (2005104131, 1),
 (2005104970, 1),
 (2005102464, 1),
 (2005103169, 1),
 (2005106222, 1),
 (2005100618, 1),
 (2005100682, 1),
 (2005106784, 1),
 (2005102128, 1),
 (2005101401, 1),
 (2005102109, 1),
 (2005100670, 1),
 (2005105297, 1),
 (2005103300, 1),
 (2005103781, 1),
 (2005109288, 1),
 (2005109127, 1),
 (2005106396, 1),
 (2005109252, 1),
 (2005104339, 1),
 (2005105730, 1),
 (2005106439, 1),
 (2005101532, 1),
 (2005106109, 1),
 (2005106637, 1),
 (2005101794, 1),
 (2005101079, 1),
 (2005103618, 1),
 (2005104274, 1),
 (2005103611, 1),
 (2005105179, 1),
 (2005100628, 1),
 (2005110170, 1),
 (2005101859, 1),
 (2005102759, 1),
 (2005101244, 1),
 (2005106722, 1),
 (2005106608, 1),
 (2005100491, 1),
 (2005104526, 1),
 (2005106329, 1),
 (2005100010, 1),
 (2005100621, 1),
 (2005100386, 1),
 (2005106481, 1),
 (2005109125, 1),
 (2005101533, 1),
 (2005110064, 1),
 (2005102523, 1),
 (2005103913, 1),
 (2005102715, 1),
 (2005103182, 1),
 (2005106571, 1),
 (2005105230, 1),
 (2005105001, 1),
 (2005100616, 1),
 (2005103376, 1),
 (2005104345, 1),
 (2005104795, 1),
 (2005102976, 1),
 (2005102019, 1),
 (2005105014, 1),
 (2005104926, 1),
 (2005105666, 1),
 (2005109323, 1),
 (2005105942, 1),
 (2005102865, 1),
 (2005105107, 1),
 (2005104336, 1),
 (2005100289, 1),
 (2005100245, 1),
 (2005104262, 1),
 (2005100260, 1),
 (2005101024, 1),
 (2005102064, 1),
 (2005103842, 1),
 (2005103213, 1),
 (2005101897, 1),
 (2005100906, 1),
 (2005105745, 1),
 (2005106468, 1),
 (2005105928, 1),
 (2005105905, 1),
 (2005100348, 1),
 (2005101862, 1),
 (2005103316, 1),
 (2005102892, 1),
 (2005106220, 1),
 (2005105084, 1),
 (2005102329, 1),
 (2005100918, 1),
 (2005102324, 1),
 (2005103090, 1),
 (2005105828, 1),
 (2005103284, 1),
 (2005102671, 1),
 (2005102101, 1),
 (2005105491, 1),
 (2005105617, 1),
 (2005105555, 1),
 (2005110142, 1),
 (2005105056, 1),
 (2005106830, 1),
 (2005102171, 1),
 (2005101419, 1),
 (2005102060, 1),
 (2005105714, 1),
 (2005100941, 1),
 (2005104543, 1),
 (2005105899, 1),
 (2005101642, 1),
 (2005102405, 1),
 (2005101867, 1),
 (2005103739, 1),
 (2005104825, 1),
 (2005103497, 1),
 (2005103695, 1),
 (2005104122, 1),
 (2005104869, 1),
 (2005102837, 1),
 (2005102248, 1),
 (2005109256, 1),
 (2005104503, 1),
 (2005102184, 1),
 (2005100472, 1),
 (2005103318, 1),
 (2005100684, 1),
 (2005103749, 1),
 (2005104252, 1),
 (2005106422, 1),
 (2005100746, 1),
 (2005100783, 1),
 (2005104975, 1),
 (2005105647, 1),
 (2005104794, 1),
 (2005102388, 1),
 (2005104593, 1),
 (2005105445, 1),
 (2005101501, 1),
 (2005100408, 1),
 (2005101644, 1),
 (2005105694, 1),
 (2005100788, 1),
 (2005103340, 1),
 (2005105486, 1),
 (2005105136, 1),
 (2005103831, 1),
 (2005103738, 1),
 (2005102336, 1),
 (2005100594, 1),
 (2005109326, 1),
 (2005106361, 1),
 (2005106967, 1),
 (2005105137, 1),
 (2005101666, 1),
 (2005101301, 1),
 (2005200008, 1),
 (2005105789, 1),
 (2005102193, 1),
 (2005106773, 1),
 (2005102092, 1),
 (2005109143, 1),
 (2005103633, 1),
 (2005101089, 1),
 (2005106531, 1),
 (2005106466, 1),
 (2005110031, 1),
 (2005102354, 1),
 (2005105532, 1),
 (2005100947, 1),
 (2005110045, 1),
 (2005104431, 1),
 (2005101597, 1),
 (2005100938, 1),
 (2005100128, 1),
 (2005103098, 1),
 (2005102808, 1),
 (2005105715, 1),
 (2005107018, 1),
 (2005106014, 1),
 (2005110074, 1),
 (2005110146, 1),
 (2005109131, 1),
 (2005102723, 1),
 (2005100926, 1),
 (2005106430, 1),
 (2005100942, 1),
 (2005101680, 1),
 (2005103483, 1),
 (2005109338, 1),
 (2005102500, 1),
 (2005104935, 1),
 (2005106292, 1),
 (2005105629, 1),
 (2005101848, 1),
 (2005103572, 1),
 (2005104293, 1),
 (2005104069, 1),
 (2005102600, 1),
 (2005102614, 1),
 (2005103599, 1),
 (2005101810, 1),
 (2005106376, 1),
 (2005104651, 1),
 (2005104065, 1),
 (2005100664, 1),
 (2005104060, 1),
 (2005101883, 1),
 (2005103188, 1),
 (2005105608, 1),
 (2005102093, 1),
 (2005104387, 1),
 (2005103729, 1),
 (2005103848, 1),
 (2005103334, 1),
 (2005101722, 1),
 (2005100396, 1),
 (2005102654, 1),
 (2005101466, 1),
 ...]

In [17]:
SE_process_df[SE_process_df['New_ZogenSa']==''][condition]

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff,New_ZogenSa
895786,2014,622,5,3,6,5,3,2012101877,0,2,...,3,420.0,,,0,11,1400,1251,18,

- <span style="color:blue">Nhận xét:
    - Đa số trường hợp thiếu ZogenSa là do lần đầu tham gia, giai đoạn đầu của mỗi con ngựa thường là cân nặng sẽ tăng, tuy nhiên ta sẽ đặt là 0 vì khởi đầu mọi con ngựa sẽ như nhau

In [18]:
SE_process_df.loc[SE_process_df['New_ZogenSa']=='', 'New_ZogenSa'] = 0
SE_process_df['ZogenSa'] = SE_process_df['New_ZogenSa']
SE_process_df.loc[SE_process_df['ZogenSa']==999, 'ZogenSa'] = 0
SE_process_df.drop(['New_ZogenSa'], axis=1, inplace=True)
SE_process_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,KisyuCode,MinaraiCD,BaTaijyu,ZogenFugo,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
1554625,2008,105,6,1,1,1,1,2005107051,0,2,...,1031,0,428.0,+,12,0,8,1152,298,13
1554626,2008,105,6,1,1,1,2,2005102028,0,2,...,733,0,450.0,-,-10,0,1,1139,81,0
1554627,2008,105,6,1,1,1,3,2005104156,0,2,...,684,0,458.0,+,4,0,3,1142,82,3
1554628,2008,105,6,1,1,1,4,2005105319,0,2,...,672,0,402.0,-,-10,0,6,1149,1173,10
1554629,2008,105,6,1,1,1,5,2005101044,0,2,...,663,0,482.0,+,2,0,2,1139,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635074,2018,701,7,3,2,12,11,2012104696,0,3,...,1160,1,486.0,-,-6,0,13,2004,2462,17
635075,2018,701,7,3,2,12,12,2014103669,5,1,...,732,0,502.0,+,8,0,11,2004,642,17
635076,2018,701,7,3,2,12,13,2013102631,0,1,...,1157,0,464.0,-,-6,0,5,1595,161,8
635077,2018,701,7,3,2,12,14,2014102088,0,1,...,1155,1,456.0,-,-4,0,8,2002,6330,15
635078,2018,701,7,3,2,12,15,2014106395,0,1,...,1122,0,520.0,-,-2,0,14,2020,2876,33

In [19]:
# Drop ZogenFugo
SE_process_df.drop(['ZogenFugo'], axis=1, inplace=True)

In [20]:
SE_process_df['ZogenSa'].describe()

count     520648
unique        90
top            0
freq      120207
Name: ZogenSa, dtype: int64

- Xử lý cho trường hợp khối lượng bất thường BaTaijyu==999

In [21]:
SE_process_df[SE_process_df['BaTaijyu']==999]

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,Futan,KisyuCode,MinaraiCD,BaTaijyu,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
158692,2013,608,5,3,3,5,2,2011101732,0,1,...,540,1043,0,999.0,0,0,8,1245,259,8

In [22]:
SE_process_df[SE_process_df['KettoNum']==2011101732]

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,Futan,KisyuCode,MinaraiCD,BaTaijyu,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
158692,2013,608,5,3,3,5,2,2011101732,0,1,...,540,1043,0,999.0,0,0,8,1245,259,8
446831,2013,706,3,2,3,1,11,2011101732,0,1,...,540,1043,0,450.0,0,0,9,1118,119,19
95738,2013,1109,5,5,3,4,16,2011101732,0,3,...,550,1043,0,452.0,2,0,10,1241,191,13
98150,2013,1124,8,5,8,2,7,2011101732,0,3,...,550,1032,0,454.0,2,0,14,1383,760,23
787245,2014,113,6,1,5,1,8,2011101732,0,3,...,560,1117,0,472.0,18,0,4,1136,174,8
789235,2014,126,6,1,9,1,11,2011101732,0,3,...,560,1117,0,470.0,-2,0,4,1137,82,5
455067,2014,209,10,1,2,1,12,2011101732,0,3,...,560,1117,0,470.0,0,0,4,589,37,1
2154225,2014,302,10,1,8,1,2,2011101732,0,3,...,550,1144,1,470.0,0,0,5,597,26,15
826394,2014,413,6,3,6,3,13,2011101732,0,3,...,560,660,0,472.0,2,0,2,1134,46,4
827252,2014,420,3,1,4,2,3,2011101732,0,3,...,560,1117,0,470.0,-2,0,3,1105,42,3
2116676,2014,503,4,1,1,5,2,2011101732,0,3,...,560,1117,0,464.0,-6,0,1,1128,45,-1
894648,2014,615,2,1,2,8,12,2011101732,0,3,...,540,1144,0,472.0,8,0,14,1107,183,11
2220254,2014,719,2,2,5,8,11,2011101732,0,3,...,540,1117,0,472.0,0,0,10,1003,91,12
165517,2014,907,1,2,6,6,1,2011101732,0,3,...,550,1117,0,470.0,-2,0,10,1008,674,12
1195796,2014,1213,6,4,3,7,1,2011101732,0,3,...,560,5498,0,488.0,17,0,7,1131,158,9
887104,2015,125,6,1,9,8,11,2011101732,0,3,...,560,5498,0,492.0,4,0,7,1123,123,8
1334254,2015,215,10,1,4,9,1,2011101732,0,3,...,570,1004,0,486.0,-6,0,1,1086,156,-2
1041154,2015,426,3,1,6,11,4,2011101732,0,3,...,570,1004,0,484.0,-2,0,11,1092,66,9
1464235,2015,509,5,2,5,9,12,2011101732,0,3,...,570,660,0,486.0,2,0,14,1225,396,13
520728,2015,801,1,1,1,10,4,2011101732,0,3,...,570,1117,0,490.0,4,0,12,1300,369,20
615432,2015,926,6,4,6,12,12,2011101732,0,3,...,570,1109,0,486.0,-4,0,3,1106,222,1
1083257,2015,1025,4,3,4,6,4,2011101732,0,3,...,570,1109,0,486.0,0,0,3,1121,79,0
1803520,2015,1114,3,3,5,6,12,2011101732,0,3,...,540,1156,3,492.0,6,0,2,1080,32,4
701351,2015,1206,6,5,2,8,6,2011101732,0,3,...,570,5528,0,498.0,6,0,11,1130,44,14
1869956,2016,228,10,1,6,9,1,2011101732,0,3,...,570,1004,0,492.0,-6,0,4,1087,41,5
655505,2016,306,10,1,8,8,7,2011101732,0,3,...,570,1004,0,488.0,-4,0,5,1086,42,2
370095,2016,430,4,1,1,7,11,2011101732,0,3,...,540,1162,3,486.0,-2,0,4,1119,37,7
1540854,2016,703,3,2,2,12,11,2011101732,0,3,...,570,1075,0,498.0,12,0,1,1084,36,0
1542764,2016,717,3,2,6,10,5,2011101732,0,3,...,570,1162,0,502.0,4,0,14,1096,202,21
2057896,2016,1022,4,3,3,11,1,2011101732,0,3,...,540,1162,0,494.0,-8,0,11,558,316,11
342116,2017,312,6,2,6,12,3,2011101732,0,3,...,550,1151,2,504.0,10,0,15,1136,2203,10
1234408,2017,415,6,3,7,8,8,2011101732,0,3,...,570,689,0,502.0,-2,0,14,1106,764,20
1568863,2017,513,4,1,5,4,8,2011101732,0,3,...,600,1113,0,498.0,-4,0,10,3171,729,69
2022090,2017,617,5,3,5,4,9,2011101732,0,3,...,600,1008,0,502.0,4,0,13,3338,1101,109

- Chỉ có 1 trường hợp ta điều chỉnh BaTaijyu = 450

In [23]:
# Trường hợp không thể cân thì lấy khối lượng trung bình(BaTaijyu==999)
condition = (SE_process_df['KettoNum']==2011101732) & (SE_process_df['BaTaijyu']==999)
SE_process_df.loc[condition, 'BaTaijyu'] = 450

In [24]:
SE_process_df.describe(include='all').transpose()

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
id$Year,520648.0,NaN,NaN,NaN,2.012758e+03,3.040986e+00,2.008000e+03,2.010000e+03,2.013000e+03,2.015000e+03,2.018000e+03
id$MonthDay,520648.0,NaN,NaN,NaN,6.495055e+02,3.427027e+02,1.040000e+02,3.280000e+02,6.230000e+02,9.240000e+02,1.228000e+03
id$JyoCD,520648.0,NaN,NaN,NaN,6.226877e+00,2.455241e+00,1.000000e+00,5.000000e+00,6.000000e+00,8.000000e+00,1.000000e+01
id$Kaiji,520648.0,NaN,NaN,NaN,2.583609e+00,1.343823e+00,1.000000e+00,1.000000e+00,2.000000e+00,4.000000e+00,6.000000e+00
id$Nichiji,520648.0,NaN,NaN,NaN,4.692258e+00,2.587993e+00,1.000000e+00,3.000000e+00,5.000000e+00,7.000000e+00,1.200000e+01
id$RaceNum,520648.0,NaN,NaN,NaN,6.484598e+00,3.470362e+00,1.000000e+00,3.000000e+00,6.000000e+00,1.000000e+01,1.200000e+01
Umaban,520648.0,NaN,NaN,NaN,7.950285e+00,4.482910e+00,1.000000e+00,4.000000e+00,8.000000e+00,1.200000e+01,1.800000e+01
KettoNum,520648.0,NaN,NaN,NaN,2.009203e+09,3.316763e+06,1.996110e+09,2.006110e+09,2.009105e+09,2.012102e+09,2.016110e+09
UmaKigoCD,520648.0,NaN,NaN,NaN,6.203769e-01,2.025408e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,2.600000e+01
SexCD,520648.0,NaN,NaN,NaN,1.448560e+00,5.605578e-01,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00,3.000000e+00
HinsyuCD,520648.0,NaN,NaN,NaN,1.000407e+00,2.017473e-02,1.000000e+00,1.000000e+00,1.000000e+00,1.000000e+00,2.000000e+00
KeiroCD,520648.0,NaN,NaN,NaN,3.103705e+00,1.571308e+00,1.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.100000e+01
Barei,520648.0,NaN,NaN,NaN,3.658189e+00,1.342626e+00,2.000000e+00,3.000000e+00,3.000000e+00,4.000000e+00,1.300000e+01
TozaiCD,520648.0,NaN,NaN,NaN,1.519441e+00,5.063772e-01,1.000000e+00,1.000000e+00,2.000000e+00,2.000000e+00,4.000000e+00
ChokyosiCode,520648.0,NaN,NaN,NaN,8.371116e+02,4.176566e+02,1.060000e+02,4.120000e+02,1.034000e+03,1.085000e+03,5.718000e+03
BanusiCode,520648.0,NaN,NaN,NaN,4.953538e+05,2.795920e+05,7.000000e+00,2.700060e+05,5.050060e+05,7.230020e+05,9.990300e+05
Futan,520648.0,NaN,NaN,NaN,5.506713e+02,1.759553e+01,4.700000e+02,5.400000e+02,5.500000e+02,5.600000e+02,6.500000e+02
KisyuCode,520648.0,NaN,NaN,NaN,1.365136e+03,1.241876e+03,4.050000e+02,1.006000e+03,1.084000e+03,1.126000e+03,5.566000e+03
MinaraiCD,520648.0,NaN,NaN,NaN,2.928581e-01,8.289863e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,3.000000e+00
BaTaijyu,520648.0,NaN,NaN,NaN,4.705195e+02,2.992124e+01,3.300000e+02,4.500000e+02,4.700000e+02,4.900000e+02,6.400000e+02
ZogenSa,520648.0,90.0,0.0,120207.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
IJyoCD,520648.0,NaN,NaN,NaN,1.920683e-03,1.158861e-01,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,7.000000e+00
KakuteiJyuni,520648.0,NaN,NaN,NaN,7.891009e+00,4.456655e+00,1.000000e+00,4.000000e+00,8.000000e+00,1.100000e+01,1.800000e+01
Time,520648.0,NaN,NaN,NaN,1.503583e+03,4.832026e+02,5.380000e+02,1.184000e+03,1.398000e+03,1.560000e+03,5.264000e+03
Odds,520648.0,NaN,NaN,NaN,6.657790e+02,9.499464e+02,1.100000e+01,8.700000e+01,2.560000e+02,8.300000e+02,9.999000e+03
TimeDiff,520648.0,NaN,NaN,NaN,1.371485e+01,1.529873e+01,-4.600000e+01,5.000000e+00,1.000000e+01,1.900000e+01,9.990000e+02

In [25]:
SE_process_df['Barei'].describe()

count    520648.000000
mean          3.658189
std           1.342626
min           2.000000
25%           3.000000
50%           3.000000
75%           4.000000
max          13.000000
Name: Barei, dtype: float64

In [26]:
len(SE_process_df['KettoNum'].unique())

54591

In [27]:
SE_process_df[SE_process_df['KettoNum']==2016110041]

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,Futan,KisyuCode,MinaraiCD,BaTaijyu,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
1357076,2018,624,2,1,4,5,7,2016110041,6,2,...,540,1093,0,414.0,0,0,4,1106,21,6

In [28]:
SE_process_df['ZogenSa'].dtype

dtype('O')

### Ghi dữ liệu ra file

In [29]:
SE_process_df.to_csv('SE_process_df.csv', index=False)

### Đọc dữ liệu và kiểm tra

In [30]:
SE_process_df = pd.read_csv('SE_process_df.csv')
SE_process_df

,id$Year,id$MonthDay,id$JyoCD,id$Kaiji,id$Nichiji,id$RaceNum,Umaban,KettoNum,UmaKigoCD,SexCD,...,Futan,KisyuCode,MinaraiCD,BaTaijyu,ZogenSa,IJyoCD,KakuteiJyuni,Time,Odds,TimeDiff
0,2008,105,6,1,1,1,1,2005107051,0,2,...,540,1031,0,428.0,12,0,8,1152,298,13
1,2008,105,6,1,1,1,2,2005102028,0,2,...,540,733,0,450.0,-10,0,1,1139,81,0
2,2008,105,6,1,1,1,3,2005104156,0,2,...,540,684,0,458.0,4,0,3,1142,82,3
3,2008,105,6,1,1,1,4,2005105319,0,2,...,540,672,0,402.0,-10,0,6,1149,1173,10
4,2008,105,6,1,1,1,5,2005101044,0,2,...,540,663,0,482.0,2,0,2,1139,134,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
520643,2018,701,7,3,2,12,11,2012104696,0,3,...,560,1160,1,486.0,-6,0,13,2004,2462,17
520644,2018,701,7,3,2,12,12,2014103669,5,1,...,570,732,0,502.0,8,0,11,2004,642,17
520645,2018,701,7,3,2,12,13,2013102631,0,1,...,570,1157,0,464.0,-6,0,5,1595,161,8
520646,2018,701,7,3,2,12,14,2014102088,0,1,...,560,1155,1,456.0,-4,0,8,2002,6330,15
520647,2018,701,7,3,2,12,15,2014106395,0,1,...,570,1122,0,520.0,-2,0,14,2020,2876,33

In [31]:
SE_process_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 520648 entries, 0 to 520647
Data columns (total 26 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   id$Year       520648 non-null  int64
 1   id$MonthDay   520648 non-null  int64
 2   id$JyoCD      520648 non-null  int64
 3   id$Kaiji      520648 non-null  int64
 4   id$Nichiji    520648 non-null  int64
 5   id$RaceNum    520648 non-null  int64
 6   Umaban        520648 non-null  int64
 7   KettoNum      520648 non-null  int64
 8   UmaKigoCD     520648 non-null  int64
 9   SexCD         520648 non-null  int64
 10  HinsyuCD      520648 non-null  int64
 11  KeiroCD       520648 non-null  int64
 12  Barei         520648 non-null  int64
 13  TozaiCD       520648 non-null  int64
 14  ChokyosiCode  520648 non-null  int64
 15  BanusiCode    520648 non-null  int64
 16  Futan         520648 non-null  int64
 17  KisyuCode     520648 non-null  int64
 18  MinaraiCD     520648 non-null  int64
 19  BaTaijyu      520648 non-null  float64
 20  ZogenSa       520648 non-null  int64
 21  IJyoCD        520648 non-null  int64
 22  KakuteiJyuni  520648 non-null  int64
 23  Time          520648 non-null  int64
 24  Odds          520648 non-null  int64
 25  TimeDiff      520648 non-null  int64
dtypes: float64(1), int64(25)
memory usage: 103.3 MB

In [32]:
id_columns = ['id$Year', 'id$MonthDay', 'id$JyoCD', 'id$Kaiji', 'id$Nichiji', 'id$RaceNum', 'KettoNum']
check = SE_process_df.groupby(id_columns, as_index=False)[['Umaban']].count().rename(columns={'Umaban': 'count'})
check[check['count']>=2]

Empty DataFrame
Columns: [id$Year, id$MonthDay, id$JyoCD, id$Kaiji, id$Nichiji, id$RaceNum, KettoNum, count]
Index: []